---
title: "Call for toturials paper"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Tutorials</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Tutorials</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Tutorials for SIGIR 2020, Xi’an, China</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for tutorials:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Tutorial proposal due: <span class="text-danger">February 16, 2020</span><br>
                            Tutorials notification: <span class="text-danger">April 22, 2020</span><br>

                            Camera ready tutorial abstracts due: <span class="text-danger">TBD</span><br>
                            Tutorial day: <span class="text-danger">July 26, 2020</span>
                        </p>

                        <p>
                            SIGIR is the major international forum for the presentation of new research results and for
                            the demonstration of new systems and techniques in the broad field of information access.
                            SIGIR 2020 will take place in Xi’an, China, and includes a full day of tutorials on 26 July
                            2020. SIGIR 2020 solicits proposals for both half and full-day tutorials covering topics
                            relevant to the field of information retrieval and its applications. Each tutorial should
                            cover a single topic in depth. For example, tutorials may cover an established information
                            retrieval sub-topic, introduce an emerging application of information retrieval
                            technologies, or update the information retrieval community on recent advances in related
                            fields. We are especially interested in the third category of submission.
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            Submissions should include a cover sheet and an extended abstract. The cover sheet should
                            include the following elements:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Title and length (either half-day, e.g. 3 hours plus breaks, or full day, e.g.,
                                        6 hours plus breaks) of the tutorial.</li>
                                    <li>Intended audience (introductory, intermediate, advanced) and prerequisite
                                        knowledge or skills required.</li>
                                    <li>Detailed contact information of all presenters (and indication of the main
                                        contact person).</li>
                                    <li>Brief biography (max. 2 paragraphs) for each presenter, highlighting relevant
                                        experience in presenting tutorials, teaching grad classes, organizing summer
                                        schools, etc.</li>
                                </ul>
                            </blockquote>
                        </p>

                        <p>The extended abstract (no longer than 4 pages) should include the following sections: 1.
                            Motivation. 2. Objectives. 3. Relevance to the information retrieval community and reference
                            to tutorials in the same area at SIGIR or related conferences (including WSDM, WWW, KDD,
                            ACL, RecSys, ICML, etc.). 4. Format and detailed schedule. 5. Type of support materials to
                            be supplied to attendees.
                        </p>

                        <p>
                            Tutorial proposals should be prepared in the current ACM two-column conference format.
                            Suitable LaTeX, Word, and Overleaf templates are available from the ACM Website (use the
                            “sigconf” proceedings template). Proposals should be submitted in PDF via
                            <a href="https://easychair.org/my/conference?conf=sigir2020">https://easychair.org/my/conference?conf=sigir2020</a>.
                            The submissions will be reviewed by a
                            program committee selected for that purpose, and final decisions will be made at the SIGIR
                            Program Committee meeting.
                        </p>

                        <p></p>

                        <h3><strong>Tutorial Chairs</strong></h3>
                        <ul>
                            <li>Andrew MacFarlane, City, University of London, U.K.</li>
                            <li>Mounia Lalmas, Spotify, U.K.</li>
                        </ul>
                        <br>

                        <strong>Contact information:</strong><br>
                        Please email Andrew MacFarlane (<a href="mailto:andym@city.ac.uk" target="_top">andym@city.ac.uk</a>) and 
                        Mounia Lalmas (<a href="mailto:mounia@acm.org" target="_top">mounia@acm.org</a>) for any inquiries.
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>