---
title: "Call for short paper"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Doctoral Consortium Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Doctoral Consortium Papers</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Doctoral Consortium Papers for SIGIR 2020, Xi’an, China</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for short papers:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Doctoral consortium papers due: <span class="text-danger">March 1, 2020</span><br>
                            Doctoral consortium papers notification: <span class="text-danger">April 22, 2020</span><br>
                            ACM SIGIR 2020 Doctoral Consortium: <span class="text-danger">Sun, Jul 26, 2020</span>
                        </p>

                        <p>
                            SIGIR is the major international forum for the presentation of new research results and for
                            the demonstration of new systems and techniques in the broad field of information retrieval
                            (IR). The ACM SIGIR 2020 Doctoral Consortium will provide doctoral students with a unique
                            opportunity to have substantive interaction with other researchers regarding their proposed
                            dissertation research.
                        </p>
                        <p>
                            The objectives of the Doctoral Consortium are:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>
                                        To provide a forum where doctoral students can present and discuss their research
                                        with
                                        experienced IR researchers: the members of the Doctoral Consortium Program
                                        Committee.
                                    </li>
                                    <li>
                                        To provide students with an opportunity to establish a supportive community,
                                        including
                                        other doctoral students at a similar stage of their dissertation research.
                                    </li>
                                </ul>
                            </blockquote>
                        </p>
                        <p>
                            The Consortium will take place the day before the main conference (on Sunday, July 26th,
                            2020), with the format including: student presentations with plenary discussions, individual
                            1:1 meetings with experienced researchers, interactive networking sessions over lunch, and
                            panel sessions with a special emphasis on gaining insights regarding career paths after the
                            PhD.
                        </p>
                        <p>
                            Prospective attendees should have written, or be close to completing, a thesis proposal (or
                            equivalent). It is desirable that students not be so close to completing their PhD that the
                            event would have little impact on their work, or so early that a topic has not been chosen.
                            Before submitting, students should discuss this criterion with their advisor or supervisor.
                        </p>
                        <p>
                            To apply for a place at the Doctoral Consortium, candidates should submit a paper up to 5+1
                            pages in length, solely authored by the student - see submission guidelines below.
                            Candidates will be selected based on the potential of their research for future impact on
                            the field of information retrieval, as well as for the likely benefit to the student from
                            participating in the Consortium. We note that SIGIR 2020 DC is deeply committed to improving
                            the field of IR by making it more diverse, equitable, and inclusive. We highly encourage
                            women and students from other underrepresented groups to apply.
                        </p>
                        <p>
                            For each selected student, a one page extended abstract will be published in the SIGIR 2020
                            Conference Proceedings. Extended abstracts will be invited after selection, and should not
                            be submitted with the proposal.
                        </p>
                        <p>
                            Doctoral students who submit to the Consortium are allowed to have previously published
                            their research, and are encouraged to submit full, short, or demo papers of their work to
                            the SIGIR 2020 conference and associated workshops.
                        </p>
                        <p>
                            Priority is given to students chosen to attend the Consortium when travel grants are
                            determined for the conference, and generally grants will be awarded to chosen students.
                            Application details for travel grants will be available on the SIGIR 2020 website (You must
                            apply for the grant to be considered).
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            Papers should be submitted through easychair in the following link:
                            <a href="https://easychair.org/conferences/?conf=sigir2020" target="_blank">
                                https://easychair.org/conferences/?conf=sigir2020
                            </a>
                        </p>
                        <p>
                            The submitted paper, solely authored by the student, will be the basis for detailed
                            discussions at the Consortium. To get the most out of the discussion, it should include:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Motivation for the proposed research.</li>
                                    <li>Background and related work (including key references).</li>
                                    <li>Description of proposed research, including main research questions.</li>
                                    <li>Research methodology and proposed experiments (where appropriate).</li>
                                    <li>Specific research issues for discussion at the Doctoral Consortium.</li>
                                </ul>
                            </blockquote>
                        </p>
                        <p>
                            In addition, a one page appendix to the paper (placed after the references) must include the
                            following:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>
                                        A detailed statement by the student explaining why they want to participate in the
                                        SIGIR 2020 Doctoral Consortium at this point in their doctoral studies, and how they hope
                                        it will contribute to the development of their work and potential future career.
                                    </li>
    
                                    <li>
                                        A statement by the student’s advisor/supervisor saying how the student would benefit
                                        by attending the Consortium. Advisors should also specifically state whether the
                                        student has written, or is close to completing, a thesis proposal (or equivalent), and when
                                        they expect the student would defend their dissertation if they progress at a typical rate.
                                    </li>
                                </ul>            
                            </blockquote>
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Format Requirements</strong></h2>
                        <p>
                            Submissions must be written in English and submitted in the 2017
                            <a href="http://www.acm.org/publications/proceedings-template" target="_blank">ACM Master
                                Article Template</a>
                            (for LaTeX, use the “sigconf” option).
                        </p>
                        <p>
                            The paper should be no more than 5 pages in length including all figures and references, but
                            excluding the one page appendix. The first page must contain the title of the paper, full
                            author name, affiliation and contact details, an abstract of up to 250 words, ACM Computing
                            Classification System (CCS) categories, and up to 3 keywords describing the topic areas.
                            Information about categories and keywords can be found in ACM Web pages on the computing
                            classification system and in the LaTeX and Word templates.
                        </p>
                        <p>
                            Doctoral Consortium papers will not be published in the SIGIR Conference Proceedings; only
                            one-page extended abstracts, invited from accepted students will be published.
                        </p>
                        <p>
                            Doctoral Consortium submissions must be in PDF format and submitted via Easychair SIGIR 2020
                            doctoral consortium site. It is the responsibility of the student to ensure that their
                            submissions use no unusual format features and are printable on a standard printer.
                            Submissions will be reviewed by the members of the Doctoral Consortium Program Committee.
                        </p>


                        <p></p>

                        <h3><strong>Doctoral Consortium Chairs</strong></h3>
                        <ul>
                            <li>Gabriella Kazai, Microsoft, UK</li>
                            <li>Barbara Poblete, University of Chile, Chile</li>
                            <li>Jerry Shen, Queen's University Belfast, UK</li>
                        </ul>
                        <br>

                        <strong>Contact information:</strong>
                        <a href="mailto:sigir2020dc@easychair.org" target="_top">sigir2020dc@easychair.org</a>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>