---
title: "Call for Tutorials page"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Tutorials</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Tutorials</li>
                </ul>
            </div>
        </div>


        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2>Call for Tutorials</h2>
                        <p>SIGIR is the major international forum for the presentation of new research results and for
                            the demonstration of new systems and techniques in the broad field of information access.
                            SIGIR 2020 will take place in Xi'an, China, and includes a full day of tutorials on July
                            XX, 2020.

                            SIGIR 2020 solicits proposals for both half and full-day tutorials covering topics relevant
                            to the field of information retrieval and its applications. Each tutorial should cover a
                            single topic in depth. For example, tutorials may cover an established information retrieval
                            sub-topic, introduce an emerging application of information retrieval technologies, or
                            update the information retrieval community on recent advances in related fields. We are
                            especially interested in the third category of submission.</p>

                        <h3>Important dates</h3>
                        <p>Time zone:
                            <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                        </p>
                        <ul>
                            <li>Tutorial proposals
                                <span class="text-danger">Feb 16, 2020</span>.
                            </li>
                            <li>Tutorials notifications
                                <span class="text-danger">Apr 22, 2020</span>.
                            </li>
                        </ul>

                        <h3>Submission Guidelines</h3>

                        <p>Submissions should include a cover sheet and an extended abstract.
                            The cover sheet should include the following elements:</p>

                        <ol>
                            <li>Title and length (either half-day, e.g. 3 hours plus breaks, or full day, e.g., 6 hours
                                plus breaks) of the tutorial.
                            </li>
                            <li>Intended audience (introductory, intermediate, advanced) and prerequisite knowledge or
                                skills required.
                            </li>
                            <li>Detailed contact information of all presenters (and indication of the main contact
                                person).
                            </li>
                            <li>Brief biography (max. 2 paragraphs) for each presenter, highlighting relevant experience
                                in presenting tutorials, teaching grad classes, organizing summer schools, etc.
                            </li>
                        </ol>

                        <p>The extended abstract (no longer than 4 pages) should include the following sections:
                            1. Motivation.
                            2. Objectives.
                            3. Relevance to the information retrieval community and reference to tutorials in the same
                            area at SIGIR or related conferences (including WSDM, WWW, KDD, ACL, etc.).
                            4. Format and detailed schedule.
                            5. Type of support materials to be supplied to attendees.</p>

                        <p>Tutorial proposals should be prepared in the current ACM two-column conference format.
                            Suitable LaTeX, Word, and Overleaf templates are available from the ACM Website (use the
                            &ldquo;sigconf&rdquo; proceedings template). Proposals should be submitted in PDF via <a
                                href="https://easychair.org/conferences/?conf=sigir2020tutorials">https://easychair.org/conferences/?conf=sigir2020tutorials</a>.
                            The submissions will be reviewed by members of the Information Retrieval research community
                            and tutorials to be presented at SIGIR 2020 will be selected by the SIGIR Program Committee.
                        </p>

                        <h3>Tutorial Chairs</h3>
                        <div class="row">
                            <div class="col-md-9">                            
                                <div id="organizers">
                                    <ul>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.city.ac.uk/people/academics/andrew-macfarlane">
                                                    <img src="assets/img/organizers/Andrew_MacFarlane.jpg">Andrew MacFarlane</a>
                                                City, University of London, U.K.
                                            </div>
                                        </li>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.linkedin.com/in/mounialalmas/">
                                                    <img src="assets/img/organizers/Mounia_Lalmas.jpg">Mounia Lalmas</a>
                                                Spotify, U.K.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>   

                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    </div>



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>