---
title: "Call for Full Papers pages"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Full Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Full Papers</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2>Call for Full Papers</h2>
                        <p>The annual SIGIR conference is the major international forum for the
                            presentation of new research results, and the demonstration of new
                            systems and techniques, in the broad field of information retrieval
                            (IR). The 43rd ACM SIGIR conference, to be held in Xi'an, China,
                            welcomes contributions related to any aspect of information retrieval
                            and access, including theories, foundations, algorithms, applications,
                            evaluation, and analysis. The conference and program chairs invite those
                            working in areas related to IR to submit original papers for review.</p>


                        <h3>Important dates</h3>
                        <p>Time zone:
                            <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                        </p>
                        <ul>
                            <li>Full paper abstract registration deadline
                                <span class="text-danger">Jan 15, 2020</span>.
                            </li>
                            <li>Full paper submission deadline
                                <span class="text-danger">Jan 22, 2020</span>.
                            </li>
                            <li>Full paper notifications
                                <span class="text-danger">Apr 22, 2020</span>.
                            </li>

                        </ul>



                        <h3>Submission Guidelines</h3>

                        <p>All papers must be original and not simultaneously submitted to another
                            journal or conference.</p>

                        <p>Submissions of full research papers must be in English, in PDF format,
                            and be at most 9 pages (including figures) + 1 pages of references in
                            length, in the current ACM two-column conference format. Suitable LaTeX,
                            Word, and
                            <a
                                href="https://www.acm.org/special-interest-groups/volunteer-resources/conference-planning/proceedings#authors">Overleaf</a>
                            templates are available from the <a
                                href="https://www.acm.org/publications/proceedings-template">ACM
                                Website</a> (use the
                            \&ldquo;sigconf\&rdquo; proceedings template). Full research papers must describe
                            work that is not previously published, not accepted for publication
                            elsewhere, and not currently under review elsewhere (including as a
                            short-paper submission for SIGIR 2020). Submissions must be anonymous
                            and should be submitted electronically via the <a
                                href="https://easychair.org/conferences/?conf=sigir2020">conference submission
                                system</a>.</p>

                        <h3>Anonymity</h3>

                        <p>Authors are required to take all reasonable steps to preserve the
                            anonymity of their submission. The submissions document must not include
                            author information and must not include citations or discussion of
                            related work that would make the authorship apparent. Note however, that
                            it is acceptable to explicitly refer in the paper to the companies or
                            organizations that provided datasets, hosted experiments, or deployed
                            solutions. For example, instead of stating that an experiment &ldquo;was
                            conducted on the logs of a major search engine&rdquo;, the authors should
                            refer to the search engine by name. The reviewers will be informed that
                            it does not necessarily imply that the authors are currently affiliated
                            with the mentioned organization. While authors can upload to
                            institutional or other preprint repositories such as
                            <a href="https://arxiv.org">arXiv.org</a> before reviewing is complete, we
                            generally discourage this since it places anonymity at risk (which could
                            result in a negative outcome of the reviewing process). Authors should
                            carefully go through <a
                                href="https://www.acm.org/publications/policies/authorship">ACM&rsquo;s authorship
                                policy</a> before
                            submitting a paper. To support identification of reviewers with
                            conflicts of interest, the full author list must be specified at
                            submission time.</p>

                        <p>Authors should note that changes to the author list after the submission
                            deadline are not allowed without permission from the PC Chairs. At least
                            one author of each accepted paper is required to register for, attend,
                            and present the work at the conference.</p>

                        <p>All full papers are to be submitted via EasyChair:<br />
                            <a
                                href="https://easychair.org/conferences/?conf=sigir2020">https://easychair.org/conferences/?conf=sigir2020</a>
                        </p>

                        <p>The CFP for short papers (4 pages), as well as workshops, tutorials,
                            doctoral consortium, industry day, and other SIGIR 2020 venues will be
                            released separately.</p>

                        <h3>List of Tracks</h3>

                        <p>Upon submission, authors should select one or two relevant tracks among
                            the seven tracks indicated below that best represent the area of their
                            submission.</p>

                        <p><strong>Search and Ranking.</strong> Research on core IR algorithmic topics,
                            including IR at scale, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Queries and query analysis</li>
                                <li>Web search, including link analysis, sponsored search, search advertising,
                                    adversarial search and spam, and vertical search</li>
                                <li>Retrieval models and ranking, including diversity and aggregated search</li>
                                <li>Efficiency and scalability</li>
                                <li>Theoretical models and foundations of information retrieval and access</li>
                            </ul>
                        </blockquote>


                        <p><strong>Future Directions.</strong> Research with theoretical or empirical
                            contributions on new technical or social aspects of IR, especially in
                            more speculative directions or with emerging technologies, covering
                            topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Novel approaches to IR</li>
                                <li>Ethics, economics, and politics</li>
                                <li>Applications of search to social good</li>
                                <li>IR with new devices, including wearable computing, neuroinformatics,
                                    sensors, Internet-of-Things, vehicles</li>
                            </ul>
                        </blockquote>


                        <p><strong>Domain-Specific Applications.</strong> Research focusing on domain-specific
                            IR challenges, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Social search</li>
                                <li>Search in structured data including email search and entity search</li>
                                <li>Multimedia search</li>
                                <li>Education</li>
                                <li>Legal</li>
                                <li>Health, including genomics and bioinformatics</li>
                                <li>Other domains such as digital libraries, enterprise, news search,
                                    app search, archival search</li>
                            </ul>
                        </blockquote>


                        <p><strong>Content Analysis, Recommendation and Classification.</strong> Research
                            focusing on recommender systems, rich content representations and
                            content analysis, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Filtering and recommender systems</li>
                                <li>Document representation</li>
                                <li>Content analysis and information extraction, including
                                    summarization, text representation, readability, sentiment analysis,
                                    and opinion mining</li>
                                <li>Cross- and multilingual search</li>
                                <li>Clustering, classification, and topic models</li>
                            </ul>
                        </blockquote>


                        <p><strong>Artificial Intelligence, Semantics, and Dialog.</strong> Research bridging AI
                            and IR, especially toward deep semantics and dialog with intelligent
                            agents, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Question answering</li>
                                <li>Conversational systems and retrieval, including spoken language
                                    interfaces, dialog management systems, and intelligent chat systems</li>
                                <li>Semantics and knowledge graphs</li>
                                <li>Deep learning for IR, embeddings, and agents</li>
                            </ul>
                        </blockquote>


                        <p><strong>Human Factors and Interfaces.</strong> Research into user-centric aspects of
                            IR, including user interfaces, behavior modeling, privacy, and
                            interactive systems, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>Mining and modeling search activity, including user and task models,
                                    click models, log analysis, behavioral analysis, and attention
                                    modeling</li>
                                <li>Interactive and personalized search</li>
                                <li>Collaborative search, social tagging and crowdsourcing</li>
                                <li>Information privacy and security</li>
                            </ul>
                        </blockquote>


                        <p><strong>Evaluation.</strong> Research that focuses on the measurement and evaluation
                            of IR systems, covering topics such as:</p>

                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>User-centered evaluation methods, including measures of user
                                    experience and performance, user engagement and search task design</li>
                                <li>Test collections and evaluation metrics, including the development
                                    of new test collections</li>
                                <li>Eye-tracking and physiological approaches, such as fMRI</li>
                                <li>Evaluation of novel information access tasks and systems such as
                                    multi-turn information access</li>
                                <li>Statistical methods and reproducibility issues in information
                                    retrieval evaluation</li>
                            </ul>
                        </blockquote>


                        <h3>Full paper track chairs</h3>
                        <div class="row">
                            <div class="col-md-9">
                                <!-- <div id="organizers">
                                    <ul>
                                        <li class="person-card">
                                            <div>
                                                <a target="_blank" href="http://abdiganidiriye.com/">
                                                    <img src="assets/img/organizers/Abdigani_Diriye.jpg">Abdigani Diriye</a>
                                                Amazon, U.K.
                                            </div>
                                        </li>
                                        <li class="person-card">
                                            <div>
                                                <a target="_blank" href="http://www.bigdatalab.ac.cn/~gjf/">
                                                    <img src="assets/img/organizers/Jiafeng_Guo.jpg">Jiafeng Guo</a>
                                                Chinese Academy of Sciences, China
                                            </div>
                                        </li>

                                        <li class="person-card">
                                            <div>
                                                <a href="https://iew3.technion.ac.il/~kurland/">
                                                    <img src="assets/img/organizers/Oren_Kurland.jpg">Oren Kurland</a>
                                                Israel Institute of Technology, Israel
                                            </div>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>