---
title: "43rd International ACM SIGIR Conference on Research and Development in Information Retrieval - July 25-30, 2020
(Xi'an, China)"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Workshops</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Workshops</li>
                </ul>
            </div>
        </div>


        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2>Call for Workshops</h2>
                        <p>SIGIR is the major international forum for the presentation of new
                            research results and for the demonstration of new systems and
                            techniques in the broad field of information retrieval (IR).
                            <strong>Proposals are solicited for workshops to be held at ACM SIGIR 2020
                                in Xi'an, China</strong>. Workshops are either set up as <strong>half-day</strong> or
                            <strong>full-day</strong> workshops and will be held on <strong>July XX, 2020</strong>.</p>

                        <p>SIGIR 2020 workshops will provide a platform for presenting novel
                            ideas and emerging areas in IR, in a less formal and potentially more
                            focused way than the conference itself. Workshop topics typically
                            match those identified in the SIGIR 2020 general call for
                            contributions, but proposals concerned with other areas of IR are
                            welcome as well. The format of each workshop is to be determined by
                            the organizers. We expect workshops to contain ample time for
                            discussion and engagement of all participants &ndash; not just those
                            presenting papers. <strong>Workshops that foster collaboration, discussion,
                                group problem-solving and community building initiatives are
                                particularly encouraged</strong>. Workshops that only revolve around the
                            presentation of papers in a &ldquo;mini conference&rdquo; format are discouraged.</p>

                        <p>Researchers and practitioners from all areas of IR are invited to
                            submit proposals for review. The organizers of approved workshops
                            will be expected to define the workshop&rsquo;s focus, gather and review
                            submissions, and decide upon the final program content. Organizers
                            (including co-organizers) are encouraged to write an article for the
                            ACM SIGIR Forum summarizing the event. At least two organizers are
                            expected to attend the entire workshop.</p>

                        <h3>Important dates</h3>
                        <p>Time zone:
                            <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                        </p>
                        <ul>
                            <li>Tutorial proposals
                                <span class="text-danger">Feb 16, 2020</span>.
                            </li>
                            <li>Tutorials notifications
                                <span class="text-danger">Mar 15, 2020</span>.
                            </li>
                        </ul>

                        <h3>Submission Guidelines</h3>

                        <p>Workshop proposals, in <strong>no more than 4 pages</strong> (ACM formatting,
                            &ldquo;sigconf&rdquo; style, submitted as PDF), should include the following
                            information:</p>

                        <ul>
                            <li>Title.</li>
                            <li>Motivation for the workshop and appropriateness for SIGIR.</li>
                            <li>Theme and purpose of the workshop.</li>
                            <li>Format (half/full-day) and planned activities and a tentative
                                schedule of events.</li>
                            <li>Selection process for participants and/or presenters.</li>
                            <li>List of organizers with a short biographical sketch of each
                                organizer, describing relevant qualifications and experience.</li>
                            <li>Names of potential program committee (PC) members - if the
                                workshop requires a PC.</li>
                            <li>Related workshops (if applicable): if the workshop has been held
                                previously at SIGIR or another conference, the organizers should
                                indicate this and describe briefly past attendance and outcomes,
                                and why another workshop is needed.</li>
                        </ul>

                        <p>Proposal should be submitted through the
                            <a href="https://easychair.org/conferences/?conf=sigir2020workshops">
                                EasyChair submission site</a></p>

                        <h3>Workshop Chairs</h3>
                        <div class="row">
                            <div class="col-md-9">                            
                                <div id="organizers">
                                    <ul>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.gla.ac.uk/schools/computing/staff/joemonjose/">
                                                    <img src="assets/img/organizers/Joemon_M_Jose.jpg"> Joemon M Jose</a>
                                                University of Glasgow, U.K.
                                            </div>
                                        </li>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.cse.msu.edu/~tangjili/">
                                                    <img src="assets/img/organizers/Jiliang_Tang.jpg">Jiliang Tang</a>
                                                Michigan State University, U.S.A.
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  

                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    </div>



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>