---
title: "Call for short paper"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Short Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Short Papers</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                            <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>Call for Short Papers for SIGIR 2020, Xi’an, China</strong></h2>
                            <!--<p class="margin-top-0">Relevant topics include, but are not limited to:</p>-->
        
                            <h5 class="margin-bottom-5"><strong>Important dates for short papers:</strong></h5>
                            <p>
                                Short paper abstracts due Sun, Feb 16, 2020<br>
                                Short papers due Sun, Feb 23, 2020<br>
                                Short paper notifications Wed, Apr 22, 2020<br>
                            </p>
                            <p> The annual SIGIR conference is the major international forum for the presentation of new research results, and the demonstration of new systems and techniques, in the broad field of information retrieval (IR). The 43rd ACM SIGIR conference, to be held in Xi'an, China, welcomes contributions related to any aspect of information retrieval and access, including theories and foundations, algorithms and applications, and evaluation and analysis. </p>
                            <p>The conference and short paper program chairs invite those working in areas related to IR to submit
                                <strong>original (four-page) short papers</strong>, which will be presented as posters at the conference. Short papers present original, previously unpublished work that make a novel research contribution to the field. They provide an opportunity to describe significant work in progress or research that is best communicated in an interactive or graphical format. Compared to full papers, their contribution may be narrower in scope, be applied to a narrower set of application domains, or have weaker empirical support than that expected for a full paper. Submissions likely to generate discussions in new and emerging areas are especially encouraged. We welcome submissions in all areas related to any aspect of IR, as identified in the call for full papers and repeated in the list below.
                            </p>
                            <p>Submissions will be peer reviewed, and accepted submissions will be published in the conference proceedings. At least one author for each accepted submission is required to register for the conference by the early registration deadline. Furthermore, an author must be present at the conference to present the work as a poster during the poster session, where researchers can obtain direct feedback about their work from a wide audience. Accepted submissions where authors fail to register by the early deadline or cannot attend to present are subject to being withdrawn from the conference proceedings at the discretion of the chairs. A Best Short Paper Award will be awarded; nominations will be decided based on reviewer assessments on the submitted version with the Awards committee making the final decision among the nominees based on review of the camera-ready version.</p>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                            <p> All papers must be original works by the authors, previously unpublished, and not simultaneously submitted to another journal or conference. Submissions of short papers must be in English, in PDF format, and should not exceed four (4) pages in the current ACM two-column conference format (including references and figures). Suitable LaTeX and Word templates are available from the
                                <a href="http://www.acm.org/publications/proceedings-template" target="_blank">ACM Website</a> . Short papers must describe work that is not previously published, not accepted for publication elsewhere, and not currently under review elsewhere. Submissions should not contain any author identification and should be submitted electronically via the
                                <a href="https://easychair.org/conferences/?conf=sigir2020" target="_blank">conference submission system</a> . The short-paper review process is double-blind. Authors are required to take all reasonable steps to preserve the anonymity of their submission. While authors can upload to institutional or other preprint repositories such as
                                <a href="arXiv.org">arXiv.org</a> before reviewing is complete, we generally discourage this since it places anonymity at risk (which could result in a negative outcome of the reviewing process). Submissions which violate the pre-print policy, anonymity, length, or formatting requirements or are plagiarized are subject to desk-rejection by the chairs. Authors should carefully go through
                                <a href="https://www.acm.org/publications/policies/authorship" target="_blank">ACM’s authorship policy</a> before submitting a paper. Authors should note that changes to the author list after the submission deadline are
                                <strong>not allowed without</strong> permission from the PC Chairs. At least one author of each accepted paper is
                                <strong>required</strong> to register for, attend, and present the work at the conference. </p>
        
                            <!---->
        
                            <hr>
                            <h2 class="margin-bottom-5"><strong>List of Topics</strong></h2>
                            <p>Upon submission, authors should select one or two relevant topics among the seven topics indicated below that best represent the area of their submission. </p>
                            <h3>
                                <strong>Search and Ranking</strong> Research on core IR algorithmic topics, including IR at scale, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Queries and query analysis</li>
                                    <li>Web search, including link analysis, sponsored search, search advertising, adversarial search and spam, and vertical search</li>
                                    <li>Retrieval models and ranking, including diversity and aggregated search</li>
                                    <li>Efficiency and scalability</li>
                                    <li>Theoretical models and foundations of information retrieval and access</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Future Directions</strong> Research with theoretical or empirical contributions on new technical or social aspects of IR, especially in more speculative directions or with emerging technologies, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Novel approaches to IR</li>
                                    <li>Ethics, economics, and politics</li>
                                    <li>Applications of search to social good</li>
                                    <li>IR with new devices, including wearable computing, neuroinformatics, sensors, Internet-of-Things, vehicles</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Domain-Specific Applications</strong> Research focusing on domain-specific IR challenges, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Local and mobile search</li>
                                    <li>Social search</li>
                                    <li>Search in structured data including email search and entity search</li>
                                    <li>Multimedia search</li>
                                    <li>Education</li>
                                    <li>Legal</li>
                                    <li>Health, including genomics and bioinformatics</li>
                                    <li>Other domains such as digital libraries, enterprise, news search, app search, archival search</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Content Analysis, Recommendation and Classification</strong> Research focusing on recommender systems, rich content representations and content analysis, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Filtering and recommender systems</li>
                                    <li>Document representation</li>
                                    <li>Content analysis and information extraction, including summarization, text representation, readability, sentiment analysis, and opinion mining</li>
                                    <li>Cross- and multilingual search</li>
                                    <li>Clustering, classification, and topic models</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Artificial Intelligence, Semantics, and Dialog</strong> Research bridging AI and IR, especially toward deep semantics and dialog with intelligent agents, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Question answering</li>
                                    <li>Conversational systems and retrieval, including spoken language interfaces, dialog management systems, and intelligent chat systems</li>
                                    <li>Semantics and knowledge graphs</li>
                                    <li>Deep learning for IR, embeddings, and agents</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Human Factors and Interfaces</strong>Research into user-centric aspects of IR, including user interfaces, behavior modeling, privacy, and interactive systems, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Mining and modeling search activity, including user and task models, click models, log analysis, behavioral analysis, and attention modeling</li>
                                    <li>Interactive and personalized search</li>
                                    <li>Collaborative search, social tagging and crowdsourcing</li>
                                    <li>Information privacy and security</li>
                                </ul>
                            </blockquote>
                            <h3>
                                <strong>Evaluation</strong>Research that focuses on the measurement and evaluation of IR systems, covering topics such as:
                            </h3>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>User-centered evaluation methods, including measures of user experience and performance, user engagement and search task design</li>
                                    <li>Test collections and evaluation metrics, including the development of new test collections</li>
                                    <li>Eye-tracking and physiological approaches, such as fMRI</li>
                                    <li>Evaluation of novel information access tasks and systems such as multi-turn information access</li>
                                    <li>Statistical methods and reproducibility issues in information retrieval evaluation</li>
                                </ul>
                            </blockquote>
        
                            <p></p>
        
                            <h3><strong>Short paper track chairs</strong></h3>
                            <ul>
                              <li>
                                Abdigani Diriye, Amazon, U.K.</li>
                              <li> Jiafeng Guo, Chinese Academy of Science, China</li>
                              <li> Oren Kurland, Israel Institute of Technology, Israel</li>
                            </ul>
                          <hr>
                        </div>        
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>