---
title: "43rd International ACM SIGIR Conference on Research and Development in Information Retrieval - July 25-30, 2020
(Xi'an, China)"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Demonstraions</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Demonstraions</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <h2>Call for Demonstrations</h2>
                    <p>SIGIR is the major international forum for the presentation of new
                        research results and for the demonstration of new systems and techniques
                        in the broad field of Information Retrieval (IR). SIGIR 2020 will be
                        held in Xi'an, China from 25-30 July 2020. We cordially invite all
                        those working in areas related to IR to submit original proposals for
                        demonstrations.</p>

                    <p>Demonstrations present first-hand experience with research prototypes or
                        operational systems. They provide opportunities to exchange ideas gained
                        from implementing IR systems, and to obtain feedback from expert users.
                        Accepted demonstration submissions will appear in the conference
                        proceedings.</p>

                    <p>A good demonstration submission should be interesting to a SIGIR
                        audience and should show a novel solution to a problem. The
                        demonstration submission should address the following questions: Who is
                        your target user? Why does your system exist and why is it important?
                        What does your demonstration do and how does it work? What does it look
                        like? How does it compare with existing systems? Finally, how and when
                        might your technology have an impact, either technically or
                        commercially?</p>

                    <p>To help the reviewers and the readers of your demonstration paper
                        intuitively and fully understand your system, you are highly encouraged
                        to complement the demonstration submission with an online demo,
                        screencast, or video clip <em>(not mandatory)</em>; you will have the chance to
                        provide a link to online demos or online video files when submitting
                        your proposal, and you may add suitable visual cues or hyperlinks in
                        your submission files. Please note that, unlike short and full paper submissions,
                        authors of demonstration submissions are not expected to take measures to conceal
                        their identity from reviewers; although we request to leave out the author list from the PDF
                        you upload for review and try to hide your identity in hyperlinked material and video files
                        where possible.</p>

                    <h3>Important dates</h3>
                    <p>Time zone:
                        <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                    </p>
                    <ul>
                        <li>Demos proposals
                            <span class="text-danger">Feb 23, 2020</span>.
                        </li>
                        <li>Demos notifications
                            <span class="text-danger">Apr 22, 2020</span>.
                        </li>
                    </ul>

                    <h3 id="scope">Scope</h3>

                    <p>Demonstration submissions are welcome in any of the areas related to any
                        aspects of IR, as identified in the <a href="http://www.sigir.org/sigir2020/calls/long/">Call
                            for Full
                            Papers</a> for SIGIR 2020.</p>

                    <h3>Submission guidelines</h3>

                    <p>Submissions of demonstration papers must be in English and can be up to
                        4 pages in SIGIR format (including references and figures). The first 2
                        pages are expected to describe your system. The third and fourth pages
                        are expected to be used for diagrams, images, references, screen shots,
                        hyperlinks, and demo requirements. You should expect wireless network
                        access, along with a table and poster mount backdrop, will be provided
                        for all accepted demonstrations. We cannot guarantee additional
                        technical or practical requests. Upon acceptance, all pages will be
                        published in the SIGIR proceedings.</p>

                    <p>Suitable LaTeX and Word templates for SIGIR are available from the <a
                            href="https://www.acm.org/publications/proceedings-template">ACM
                            Website</a> (use
                        the 2017 ACM Master Article Template. LaTeX users should use the
                        standard &lsquo;sigconf&rsquo; proceedings template). It is the responsibility of
                        the authors to ensure that the PDF submission has been uploaded
                        successfully. We suggest downloading the PDF after submission to check
                        it is ok. Papers should be submitted electronically via the <a
                            href="https://easychair.org/conferences/?conf=sigir2020demo">EasyChair
                            SIGIR2020 demo paper submission
                            site</a>. At least
                        one author of each accepted demonstration must register and attend the
                        conference. Submissions that are over the 4-page limit and incomplete
                        submissions will be rejected without review. Authors should also
                        go through <a href="https://www.acm.org/publications/policies/authorship">ACM&rsquo;s authorship
                            policy</a> before
                        making a submission. Authors should note that changes to the author
                        list after the submission deadline are <strong>not allowed</strong> without
                        permission from the PC Chairs. At least one author of each accepted
                        paper is <strong>required</strong> to register for, attend, and present the work at
                        the conference or the paper will not appear in the conference
                        proceedings in the ACM Digital Library.</p>

                        <h3>Demo chairs</h3>
                        <div class="row">
                            <div class="col-md-9">                            
                                <div id="organizers">
                                    <ul>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.ntu.edu.sg/home/axsun/">
                                                    <img src="assets/img/organizers/Aixin_Sun.jpg">Aixin Sun</a>
                                                Nanyang Technological University, Singapore
                                            </div>
                                        </li>
                                        <li class="person-card">
                                            <div>
                                                <a href="https://www.wlu.ca/academics/faculties/faculty-of-science/faculty-profiles/jiashu-zhao/index.html">
                                                    <img src="assets/img/organizers/Jiashu_Zhao.jpg">Jiashu (Jessie) Zhao</a>
                                                Wilfrid Laurier University, Canada
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  

                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    </div>



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>