---
title: "43rd International ACM SIGIR Conference on Research and Development in Information Retrieval - July 25-30, 2020
(Xi'an, China)"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
</head>

<body class="header-fixed">

    <div class="wrapper">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!-- Image Gradient -->
        
        <script type="text/javascript">
            //Get Banner image by random
            var n = Math.floor(Math.random()*6+1);
            document.write('<div class="interactive-slider-v2" style="background-image:url(\'assets/img/main-banners/SIGIR_banner_'+n+'.jpg\')">');
        </script>
        <div class="container">
            
            <h1 class="animated fadeInUp">SIGIR 2020</h1>
            <p class="animated fadeInRight" id="sub_title">43<sup>rd</sup> International ACM SIGIR Conference on
                Research and Development in Information Retrieval</p>
            <p class="animated fadeInLeft">July 25-30, 2020 (Xi'an, China)</p>
        </div> 
    </div>
    <!-- End Image Gradient -->

    <div class="purchase bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animated fadeInLeft" style="border-right:1px solid #eaeaea">
                        <div class="save_the_date margin-bottom-50" id="save_the_date">
                            <span>SAVE THE DATE</span>
                            <p>The annual SIGIR conference is the major international forum for the presentation of new research results, and the demonstration of new systems and techniques, in the broad field of information retrieval (IR). The 43<sup>rd</sup> ACM SIGIR conference, to be held in Xi'an, China, welcomes contributions related to any aspect of information retrieval and access, including theories and foundations, algorithms and applications, and evaluation and analysis. The conference and program chairs invite those working in areas related to IR to submit high-impact original papers for review.
                            </p>
                        </div>
    
                <!--Useful quick links-->
                <div class="userful_quick_links margin-top-20" id="userful_quick_links">
                    <h3 class="heading-md"><strong>Useful quick links</strong></h3>
                    <ul class="list-unstyled who margin-bottom-30">
                        <li><i class="fa fa-link"></i> EasyChair submission:
                            <a href="https://easychair.org/my/conference?conf=sigir2020" target="_blank" class="tooltips" data-toggle="tooltip" data-original-title="Jump to this page">https://easychair.org/my/conference?conf=sigir2020</a>
                        </li>
                    </ul>
                </div>

                <!--Important Dates & Notifications-->
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="headline"><h2>Important Dates</h2></div>
                        <ul class="timeline-v2">
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Jan 15, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Full papers abstracts registration</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Jan 22, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Full paper submission</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Short paper abstracts registration</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Workshop and Tutorial proposals</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Feb 23, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Short papers and Demos submission</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Mar 01, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Doctoral Consortium proposals due</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Apr 01, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>SIRIP proposals</p></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-6">

                        <div class="headline"><h2>Notifications</h2></div>
                        <ul class="timeline-v2">
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Mar 01, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>SIRIP notification</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Mar 15, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel"><p>Workshop notification</p></div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Apr 22, 2020</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Full paper, short paper, demos, tutorials, doctoral consortium notifications</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- ===== social media icons START -->
                <div class="tile">
                      <a class="btn-u btn-u-aqua btn-u-xs" href="https://twitter.com/sigir2020" alt="sigir2020 @sigir2020 Twitter profile" target="_blank"><i class="fa fa-twitter"></i> Follow us.</a>
                </div>

                <div class="tile">
                    <a class="twitter-timeline" href="https://twitter.com/sigir2020" height="1200">Tweets by sigir2020</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!-- ===== social media icons END -->
            </div>
        </div>
    
    
    
    
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
