---
title: "43rd International ACM SIGIR Conference on Research and Development in Information Retrieval - July 25-30, 2020
(Xi'an, China)"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
</head>

<body class="header-fixed">

    <div class="wrapper">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!-- Image Gradient -->

        <script type="text/javascript">
            //Get Banner image by random
            var n = Math.floor(Math.random() * 6 + 1);
            document.write('<div class="interactive-slider-v2" style="background-image:url(\'assets/img/main-banners/SIGIR_banner_' + n + '.jpg\')">');
        </script>
        <div class="container">

            <h1 class="animated fadeInUp">SIGIR 2020</h1>
            
            <h1 class="animated fadeInUp">Virtual Conference</h1>
            <p class="animated fadeInRight" id="sub_title">43<sup>rd</sup> International ACM SIGIR Conference on
                Research and Development in Information Retrieval
            </p>
            <p class="animated fadeInLeft">July 25-30, 2020 (Xi'an, China)</p>
        </div>
    </div>
    <!-- End Image Gradient -->

    <div class="purchase bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 animated fadeInUp">
                    <!--Latest News-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline">
                                <h2><strong>Latest News</strong></h2>
                            </div>
                            <ul class="timeline-v2">
                                
                                <!--<li>
                                    <time class="cbp_tmtime" datetime=""><span>June 17, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>To accommodate the different needs of our attendees focusing on various topics from the broad field of computer science, we invite six prominent computer scientists from the most renowned institutions all over the world as our Keynote Speakers in the conference this year. We list their names in an alphabetical order in the following. Detailed information would be followed up ASAP. <br> <br>
                                            <a href="http://elizabethchurchill.com/about/">Elizabeth F. Churchill</a> (Google, USA), Fellow of the ACM. <br> <br>
                                            <a href="https://www.is.inf.uni-due.de/staff/fuhr.html.en">Norbert Fuhr</a> (University of Duisburg-Essen, Germany), honoree of the ACM SIGIR Gerard Salton Award. <br> <br>
                                            <a href="https://www.cs.toronto.edu/~hinton/">Geoffrey E. Hinton</a> (Google & University of Toronto, Canada), recipient of the ACM A.M. Turing award. <br> <br>
                                            <a href="https://www.sydney.edu.au/engineering/about/our-people/academic-staff/dacheng-tao.html">Dacheng Tao</a> (University of Sydney, Australia), Fellow of the ACM & Fellow of the IEEE. <br> <br>
                                            <a href="https://www.nist.gov/people/ellen-m-voorhees">Ellen M. Voorhees</a> (NIST, USA), Fellow of the ACM. <br> <br>
                                            <a href="http://gr.xjtu.edu.cn/web/zbxu;jsessionid=A3379D566CE5AE21F8B2C1975E06315F">Zongben Xu</a> (Xi’an Jiaotong University, China), Academician of the Chinese Academy of Sciences. 
                                        </p>
                                    </div>
                                </li>-->
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 27, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p>Please find all the virtual discussion rooms during July 27, 12:00-14:30 (GMT +8) <a href="{{ site.baseurl }}/assets/virtual-rooms/Virtual Discussion Arrangement-I.xlsx">here</a>.</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 25, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p>The chatroom is online! Our attendees can login to chat on each paper’s information page of the <a href="https://sigir-schedule.baai.ac.cn/">Virtual Conference Portal</a>!</p>
                                    </div>
                                </li>                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 25, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://dl.acm.org/doi/proceedings/10.1145/3397271">SIGIR '20: Proceedings of the 43rd ACM SIGIR Conference</a> are available at ACM Digital Library!</p>
                                     </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 25, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="{{ site.baseurl }}/assets/files/SIGIR20.pdf">SIGIR 2020 Final Program</a> is posted!</p>
                                     </div>
                                </li>                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 24, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Come and join our <a href="{{ site.baseurl }}/student-event">Student Event @ SIGIR 2020</a>!</p>
                                    </div>              
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 23, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="{{ site.baseurl }}/booklets">SIGIR 2020 Booklets</a> are available now!</p>
                                     </div>
                                </li>                               
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 22, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir-schedule.baai.ac.cn/">Virtual Conference Portal</a> for SIGIR 2020 is Online Now!</p>
                                     </div>
                                </li>                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 21, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p>All our attendees are very welcomed to join <a href="http://sigir.org/women-in-ir/sigir2020.html">Women-in-IR @ SIGIR 2020</a>!</p>
                                     </div>
                                </li>                                                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 17, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p>Good news! All attendees of any registration types have access to <a href="https://sigir.org/sigir2020/summer-school/">SIGIR 2020 Summer School</a> without paying extra! </p>
                                     </div>
                                </li>              
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 9, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/keynotes/">The keynotes of SIGIR 2020</a> have been released!</p>
                                     </div>
                                </li>                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 8, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/industry-track-schedule/">The industry track schedule</a> is available!</p>
                                     </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 7, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/schedule/">The main conference schedule</a> is ready!</p>
                                     </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 6, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/presentation-instructions/">SIGIR 2020 Presentation Instructions</a> have been posted!</p>
                                     </div>
                                </li>                              
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>July 2, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/program-at-a-glance/">SIGIR 2020 Pragram at a glance</a> is available!</p>
                                     </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 30, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                          <p><a href="https://sigir.org/sigir2020/call-for-volunteers/">Call for volunteers!</a> Would you like to be a volunteer for SIGIR 2020? Come and join us! </p>
                                     </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 30, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Non-student authors are also eligible for reimbursement of the full author registration fee (both full conference and workshop/tutorial registration) via ACM SIGIR. Please apply <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjpZnQrrC8nAKxAjj1FYHeLS85YNo8sd40dnRrouk6cLwP3Q/viewform">here</a>.</p>
                                    </div>
                                </li>                                      
                                
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 24, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Student authors are eligible for application to the <a href="https://unc.az1.qualtrics.com/jfe/form/SV_1N9BdSw8PXFGKzj?conference=SIGIR_2020">SIGIR Student Travel Grant Program</a> which covers their registration fees! </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 19, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p><a href="https://cvent.me/GVlxE7">Registration for SIGIR 2020</a> is now open! Enjoy the early bird registration rates by June 30, 2020 (Hawaii-Aleutian Standard Time)!</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 16, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>We are grateful to announce that as of now we have received the 
                                            generous support from our sponsors, including Alibaba, Meituan AI, Microsoft, Huawei, Baidu, Kuaishou and Polixir Technology! More details would be followed up.</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>June 6, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p><a href="https://sigir.org/sigir2020/workshops/">Workshops</a> and <a href="https://sigir.org/sigir2020/tutorials/">Tutorials</a> for SIGIR 2020 are now available!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 13, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Detailed instructions for producing the camera-ready final version are posted by Sheridan Printing.
                                            For Keynote abstracts, Full and Short papers, please see <a href="http://www.scomminc.com/pp/acmsig/sigir.htm" target="_blank" class="tooltips" data-toggle="tooltip" data-original-title="Jump to this page">http://www.scomminc.com/pp/acmsig/sigir.htm</a>. For Demos, Doctoral Consortium, Industry track papers, Tutorial and Workshops summaries, please see <a href="http://www.scomminc.com/pp/acmsig/sigir2.htm" target="_blank" class="tooltips" data-toggle="tooltip" data-original-title="Jump to this page">http://www.scomminc.com/pp/acmsig/sigir2.htm</a>. Please also expect two emails: one from submissions@scomminc.com with your submission id and link to submit/upload your final version --and-- the other from ACM Rightsreview to the lead contact author only for the ACM eform to be completed.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 12, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Great news!!! Prof. Geoffrey E. Hinton, from the University of Toronto, and the recipient of the 2018 ACM A.M. Turing Award, will be our KEYNOTE speaker in the conference this year!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 10, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>We received a record high of 80 (effective) paper submissions to the Industry Track of SIGIR 2020, out of which 22 were accepted!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 07, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>In response to the pandemic of COVID-19, the organizers of SIGIR 2020 have made their final decision that the conference will be held fully online this year with the same schedule. We are looking forward to enjoying an amazing online conference together with you. Further information would be followed in the upcoming days. Take care and stay safe during this challenging period!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 06, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>The number of full paper submissions this year hit its historical peak at 555, out of which 147 were accepted.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 06, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>The number of short paper submissions this year hit its historical peak at 507, out of which 152 were accepted.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Save the date-->
                    <div class="save_the_date margin-bottom-50" id="save_the_date">
                        <span>SAVE THE DATE</span>
                        <p>The annual SIGIR conference is the major international forum for the presentation of new
                            research results, and the demonstration of new systems and techniques, in the broad field of
                            information retrieval (IR). The 43<sup>rd</sup> ACM SIGIR conference, to be held in Xi'an,
                            China, welcomes contributions related to any aspect of information retrieval and access,
                            including theories and foundations, algorithms and applications, and evaluation and
                            analysis. The conference and program chairs invite those working in areas related to IR to
                            submit high-impact original papers for review.
                        </p>
                    </div>

                    <!--Useful quick links-->
                    <div class="userful_quick_links margin-top-20" id="userful_quick_links">
                        <h3 class="heading-md"><strong>Useful quick links</strong></h3>
                        <ul class="list-unstyled who margin-bottom-30">
                            <li><i class="fa fa-link"></i> EasyChair submission:
                                <a href="https://easychair.org/my/conference?conf=sigir2020" target="_blank"
                                    class="tooltips" data-toggle="tooltip"
                                    data-original-title="Jump to this page">https://easychair.org/my/conference?conf=sigir2020</a>
                            </li>
                        </ul>
                    </div>

                    <!--Important Dates & Notifications-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline">
                                <h2>Important Dates</h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Jan 15, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper abstract registration</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Jan 22, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper submission</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Short paper abstract registration</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 16, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Workshop and tutorial proposals</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Feb 23, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Short paper and demo submission</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Doctoral consortium proposals</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Apr 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>SIRIP proposals</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">

                            <div class="headline">
                                <h2>Notifications</h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar 15, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Workshop notification</p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Apr 22, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Full paper, short paper, demos, tutorials, doctoral consortium notifications
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>May 01, 2020</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>SIRIP notification</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Important Dates & Notifications END-->

                </div>

                <div class="col-md-4">
                    <!-- ===== social media icons START -->
                    <div class="tile">
                        <a class="btn-u btn-u-aqua btn-u-xs" href="https://twitter.com/sigir2020"
                            alt="sigir2020 @sigir2020 Twitter profile" target="_blank" style="margin-left: 5%;"><i class="fa fa-twitter"></i>
                            Follow us on Twitter.</a>
                        <a class="btn-u btn-u-dark-blue btn-u-xs" href="https://www.facebook.com/sigir2020"
                            alt="sigir2020 @sigir2020 facebook profile" target="_blank" style="margin-left: 7%;"><i class="fa fa-facebook"></i>
                            Follow us on Facebook.</a>
                    </div>
                    <div class="tile">
                        <a class="twitter-timeline" href="https://twitter.com/sigir2020" height="650">Tweets by
                            sigir2020</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <!-- ===== social media icons END -->

                    <hr>
                    <!-- ===== social media icons START -->
                    <div class="tile">
                        <iframe name="f99218c3348b54" title="fb:page Facebook Social Plugin" frameborder="0"
                            allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                            src="https://www.facebook.com/v5.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2ce30841cd05e%26domain%3D%26origin%3Dfile%253A%252F%252F%252Ff1d62ad0a1fab14%26relation%3Dparent.parent&amp;height=650&amp;hide_cover=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsigir2020&amp;locale=en_us&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline"
                            style="border: none; visibility: visible; width:100%; height: 650px;" class="">
                        </iframe>
                        <!-- ===== social media icons END -->
                    </div>
                    <br>
                    <div class="tile">
                        <a class="btn-u btn-u-green btn-u-xs" alt="sigir2020 @sigir2020 WeChat profile" target="_blank" style="margin-left: 5%;"><i class="fa fa-wechat"></i>
                            Follow us on WeChat.</a>
                        <a class="btn-u btn-u-yellow btn-u-xs" href="https://www.weibo.com/u/7473346537"
                            alt="sigir2020 @sigir2020 Weibo profile" target="_blank" style="margin-left: 4%;"> <i class="fa fa-weibo"></i>
                            Follow us on Weibo.</a>
                    </div>
                    <img src="assets/img/WeChat_qr.jpg" style="width: 41%; margin-top: 3%; margin-left: 7%; ">
                    <img src="assets/img/Weibo_qr.png" style="width: 35%; margin-top: 3%; margin-left: 8%; ">
                </div>
                <!--Logos-->
               
                <div class="col-md-12">
                     <hr>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <img class="img-responsive" src="assets/img/logos/acm.png" style="width: 105%; margin-top: 15%;">
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <img class="img-responsive" src="assets/img/logos/sigir.png" style="width: 80%; margin-top: 10%; margin-left: 10%;">
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <img class="img-responsive" src="assets/img/logos/YorkU.png" style="width: 120%; margin-top: 17%;">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <img class="img-responsive" src="assets/img/logos/Xidian_University.png" style="width: 95%; margin-top: 2%; margin-left: 5%;">
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <img class="img-responsive" src="assets/img/logos/cas.png" style="width: 92%; margin-top: 2%; margin-left: 10%;">
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <img class="img-responsive" src="assets/img/logos/jilin_university.jpg" style="width: 92%; margin-top: 2%; margin-left: 5%;">
                            </div>
                            <div class="col-md-3 col-xs-3">
                                <img class="img-responsive" src="assets/img/logos/thu.jpg" style="width: 92%; margin-top: 2%;">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Logos END-->
            </div>
        </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->



    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
