---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Organizers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <!-- <li><a href="">BLANK</a></li> -->
                    <li class="active">Organizers</li>
                </ul>
            </div>
        </div>



    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="news-v3-in">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="no-padding margin-left-10 organizers-type-list hidden-xs" id="sidebar-nav">
                                <!-- Typography -->

                                <li class=""><a href="#General">General co-Chairs</a></li>
                                <li class=""><a href="#Vice">Vice Chair</a></li>
                                <li class=""><a href="#Program">Program co-Chairs</a></li>
                                <li class=""><a href="#ShortPaperProgram">Short Paper Program co-Chairs</a></li>
                                <li class=""><a href="#BestPaper">Best Paper Chairs</a></li>
                                <li class=""><a href="#TestofTimeAward">Test of Time Award Chairs</a></li>
                                <li class=""><a href="#Industry">Industry Chairs</a></li>
                                <li class=""><a href="#SummerSchool">Summer School Chairs</a></li>
                                <li class=""><a href="#Publicity">Publicity Chairs</a></li>
                                <li class=""><a href="#DoctoralConsortium">Doctoral Consortium Chairs</a></li>
                                <li class=""><a href="#Workshop">Workshop Chairs</a></li>
                                <li class=""><a href="#DemonstrationPaper">Demonstration Paper Chairs</a></li>
                                <li class=""><a href="#Tutorial">Tutorial Chairs</a></li>
                                <li class=""><a href="#Proceedings">Proceedings Chairs</a></li>
                                <li class=""><a href="#Sponsorship">Sponsorship Chairs</a></li>
                                <li class=""><a href="#LocalArrangement">Local Arrangement Chair</a></li>
                                <li class=""><a href="#StudentVolunteer">Student Volunteer Chairs</a></li>
                                <li class=""><a href="#StudentTravelAward">Student Travel Award Chairs</a></li>
                                <li class=""><a href="#WebMasters">Web Masters</a></li>
                                <li class=""><a href="#Treasury">Treasury Chairs</a></li>
                                <li class=""><a href="#Registration">Registration Chairs</a></li>
                                <li class=""><a href="#SocialEvent">Social Event Chair</a></li>
                                <li class=""><a href="#Women-in-IR">Women-in-IR Chairs</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div id="organizers">

                                <h2>Conference Organization</h2>
                                <h4 id="General">General co-Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://yichang-cs.com/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Yi_Chang.jpg">Yi Chang</a>
                                            Jilin University, China
                                        </div>
                                    </li>

                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.bigdatalab.ac.cn/~cxq/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Xueqi_Cheng.jpg">Xueqi Cheng</a>
                                            Chinese Academy of Sciences, China
                                        </div>
                                    </li>

                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.yorku.ca/jhuang/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jimmy_Huang.jpg">Jimmy Huang</a>
                                            York University, Canada
                                        </div>
                                    </li>

                                </ul>

                                <h4 id="Vice">Vice Chair</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.thuir.cn/group/~YQLiu/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Yiqun_Liu.jpg">Yiqun Liu</a>
                                            Tsinghua University, China
                                        </div>
                                    </li>
                                </ul>
                                <h4 id="Program">Program co-Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.uva.nl/profiel/k/a/j.kamps/j.kamps.html">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jaap_Kamps.jpg">Jaap Kamps</a>
                                            University of Amsterdam, Netherlands
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/vanessamurdock/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Vanessa_Murdock.jpg">Vanessa Murdock</a>
                                            Amazon, U.S.A
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://scholar.google.com/citations?user=tbxCHJgAAAAJ&amp;hl=en">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Ji-Rong_Wen.jpg">Ji-Rong Wen</a>
                                            Renmin University of China, China
                                        </div>
                                    </li>

                                </ul>
                                <h4 id="ShortPaperProgram">Short Paper Program co-Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://abdiganidiriye.com/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Abdigani_Diriye.jpg">Abdigani Diriye</a>
                                            Amazon, U.K.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.bigdatalab.ac.cn/~gjf/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jiafeng_Guo.jpg">Jiafeng Guo</a>
                                            Chinese Academy of Sciences, China
                                        </div>
                                    </li>

                                    <li class="person-card">
                                        <div>
                                            <a href="https://iew3.technion.ac.il/~kurland/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Oren_Kurland.jpg">Oren Kurland</a>
                                            Israel Institute of Technology, Israel
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="BestPaper">Best Paper Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.is.informatik.uni-duisburg.de/staff/fuhr.html">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Norbert_Fuhr.jpg">Norbert Fuhr</a>
                                            University of Duisburg-Essen, Germany
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="http://www.rosiejonesphd.com/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/rosie.jpg"/>Rosie Jones</a>
                                                Spotify, U.S.A.
                                        </div>
                                    </li>
                                </ul>


                                <h4 id="TestofTimeAward">Test of Time Award Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://wp.comminfo.rutgers.edu/belkin/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Nicholas_J_Belkin.jpg">Nicholas J. Belkin</a>
                                            Rutgers University, U.S.A.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.uni-regensburg.de/sprache-literatur-kultur/informationswissenschaft/mitarbeiter/udo-kruschwitz/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Udo_Kruschwitz.jpg">Udo Kruschwitz</a>
                                                Universität Regensburg, Germany
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Industry">Industry Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.microsoft.com/en-us/research/people/milads/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Milad_Shokouhi.jpg">Milad Shokouhi</a>
                                            Microsoft
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/luo-si-00a5a54/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Luo_Si.jpg">Luo Si</a>
                                            Alibaba Group Inc.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://infosense.cs.georgetown.edu/grace/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Grace_Hui_Yang.jpg">Grace Hui Yang</a>
                                            Georgetown University, U.S.A
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="SummerSchool">Summer School Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://cs.uwaterloo.ca/about/people/claclark">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Charlie_Clarke.jpg">Charlie Clarke</a>
                                            University of Waterloo, Canada
                                        </div>
                                    </li>
                                     <li class="person-card">
                                        <div>
                                            <a href="http://www.bigdatalab.ac.cn/~lanyanyan/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Yanyan_Lan.jpg">Yanyan Lan</a>
                                            Chinese Academy of Sciences, China
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.hangli-hl.com/index.html">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Hang_Li.jpg">Hang Li</a>
                                            ByteDance AI Lab, China
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Publicity">Publicity Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.irit.fr/~Mohand.Boughanem/index_en.php">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Mohand_Boughanem.jpg">Mohand Boughanem</a>
                                            IRIT, Toulouse, France
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.computing.dcu.ie/~cgurrin/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Cathal_Gurrin.jpg">Cathal Gurrin</a>
                                            Dublin City University, Ireland
                                        </div>
                                    </li>

                                </ul>

                                <h4 id="DoctoralConsortium">Doctoral Consortium Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.gabriella-kazai.com/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Gabriella_Kazai.jpeg">Gabriella Kazai</a>
                                                Microsoft, U.K.
                                        </div>
                                    </li> 
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.barbara.cl/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Barbara_Poblete.jpg">Barbara Poblete</a>
                                            University of Chile, Chile
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://qub.ac.uk/schools/eeecs/Connect/Staff/BusinessCard/?name=j.shen">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jerry_Shen.jpg">Jerry Shen</a>
                                            Queen's University Belfast, U.K.
                                        </div>
                                    </li>
                                    
                                </ul>

                                <h4 id="Workshop">Workshop Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.gla.ac.uk/schools/computing/staff/joemonjose/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Joemon_M_Jose.jpg"> Joemon M Jose</a>
                                            University of Glasgow, U.K.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.cse.msu.edu/~tangjili/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jiliang_Tang.jpg">Jiliang Tang</a>
                                            Michigan State University, U.S.A.
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="DemonstrationPaper">Demonstration Paper Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.ntu.edu.sg/home/axsun/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Aixin_Sun.jpg">Aixin Sun</a>
                                            Nanyang Technological University, Singapore
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.wlu.ca/academics/faculties/faculty-of-science/faculty-profiles/jiashu-zhao/index.html">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jiashu_Zhao.jpg">Jiashu (Jessie) Zhao</a>
                                            Wilfrid Laurier University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Tutorial">Tutorial Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.city.ac.uk/people/academics/andrew-macfarlane">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Andrew_MacFarlane.jpg">Andrew MacFarlane</a>
                                            City, University of London, U.K.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/mounialalmas/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Mounia_Lalmas.jpg">Mounia Lalmas</a>
                                            Spotify, U.K.
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Proceedings">Proceedings Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.cse.yorku.ca/~aan/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Aijun_An.jpg">Aijun An</a>
                                            York University, Canada
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="https://scholar.google.ca/citations?hl=en&pli=1&user=NRwerBAAAAAJ#">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Long_Xia.jpeg">Long Xia</a>
                                            York University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Sponsorship">Sponsorship Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/p%C3%A1raic-sheridan-54a3293/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Paraic_Sheridan.jpg">Paraic Sheridan</a>
                                            Dublin City University, Ireland
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://www.yindawei.com/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Dawei_Yin.jpg">Dawei Yin</a>
                                            JD.com, China
                                        </div>
                                    </li>

                                </ul>

                                <h4 id="LocalArrangement">Local Arrangement Chair</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://see.xidian.edu.cn/faculty/xbgao/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Xinbo_Gao.jpg">Xinbo Gao</a>
                                            Xidian University, China
                                        </div>
                                    </li>

                                </ul>

                                <h4 id="StudentVolunteer">Student Volunteer Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://scholar.google.com/citations?user=2TQfvt8AAAAJ&amp;hl=en">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Qiguang_Miao.jpg">Qiguang Miao</a>
                                            Xidian University, China
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.fst.um.edu.mo/en/staff/fstlmz.html">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Liming_Zhang.jpg">Liming Zhang</a>
                                            University of Macau, China
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="StudentTravelAward">Student Travel Award Chair</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://online.wlu.ca/faculty/yang-liu">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Yang_Liu.jpg">Yang Liu</a>
                                            Wilfrid Laurier University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="WebMasters">Web Masters</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/sadra-abrishamkar-09609142/?originalSubdomain=ca">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Sadra_Abrishamkar.jpg">Sadra Abrishamkar</a>
                                            York University, Canada
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://sites.google.com/site/maojiaxin/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Jiaxin_Mao.jpg">Jiaxin Mao</a>
                                            Tsinghua University, China
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Treasury">Treasury Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.researchgate.net/profile/Zehua_Chen" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Zehua_Chen.jpg">Zehua Chen</a>
                                            Taiyuan University of Tech., China
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://web.cs.dal.ca/~vlado/" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Vlado_Keselj.jpg">Vlado Keselj</a>
                                            Dalhousie University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Registration">Registration Chair</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="https://www.linkedin.com/in/qinmin-vivian-hu-0372544/?originalSubdomain=ca" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Vivian_Hu.jpg">Vivian Hu</a>
                                            Ryerson University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="SocialEvent">Social Event Chair</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a target="_blank" href="http://profiles.laps.yorku.ca/profiles/georgop/">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/George_Georgopoulos.jpg">George Georgopoulos</a>
                                            York University, Canada
                                        </div>
                                    </li>
                                </ul>

                                <h4 id="Women-in-IR">Women-in-IR Chairs</h4>
                                <ul>
                                    <li class="person-card">
                                        <div>
                                            <a href="http://people.cs.georgetown.edu/~nazli/" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Nazli_Goharian.jpeg">Nazli Goharian</a>
                                            Georgetown University, U.S.A.
                                        </div>
                                    </li>
                                    <li class="person-card">
                                        <div>
                                            <a href="http://liacs.leidenuniv.nl/~verbernes/" target="_blank">
                                                <img src="{{ site.baseurl }}/assets/img/organizers/Suzan_Verberne.jpeg">Suzan Verberne</a>
                                            Leiden University, Netherlands
                                        </div>
                                    </li>
                                </ul>
                                <div style="height: 30px; clear: both;"></div>

                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
