---
title: "Call for Industry Track"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Industry Track Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Industry Track</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Industry Track Papers for SIGIR 2020, Xi’an, China</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for Industry Track Papers:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Industry Track Paper Submission Deadline: <span class="text-danger">Apr 01, 2020</span><br>
                            Industry Track Paper Notification: <span class="text-danger">May 01, 2020</span><br>
                            Camera Ready Due For Accepted Papers: <span class="text-danger">Mid-to-Late May,
                                2020</span><br>
                        </p>


                        <p>
                            The ACM SIGIR Industry Track provides an opportunity for the community to meet and discuss
                            the latest related technologies as applied in companies, both big and small, and to achieve
                            knowledge transfer across the boundary between academia and industry. The Track will be held
                            as part of SIGIR 2020 (<a href="{{ site.baseurl }}/">https://sigir.org/sigir2020/</a>) which
                            will take place July 25-30, 2020
                            in the city of Xi’an, China.
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            The submission should be no longer than 9 pages (including figures) + 1 page of references,
                            in ACM two-column conference format. Formatting guidelines are available at the <a
                                href="https://www.acm.org/publications/proceedings-template">ACM Website</a>.
                            Please note that the submission is NOT required to be anonymous. Please feel free to include
                            author names, affiliations, a brief introduction to your company, and the reasons why your
                            experiences would be interesting and relevant to the SIGIR audience.
                        </p>
                        <p>
                            A condition of acceptance is that at least one author commits to attend the SIGIR 2020
                            Industry Track to present the work. Accepted papers will be asked to produce a
                            <strong>10-page camera-ready paper</strong>. And the camera-ready paper will be included in
                            SIGIR 2020 proceedings.
                        </p>
                        <strong>Submission Website</strong>
                        <p>
                            Authors should submit proposals via the submission website here: <a
                                href="https://easychair.org/my/conference?conf=sigir2020#">https://easychair.org/my/conference?conf=sigir2020#</a>
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Anonymity</strong></h2>
                        <p>
                            Authors are required to take all reasonable steps to preserve the anonymity of their
                            submission. The submissions document must not include author information and must not
                            include citations or discussion of related work that would make the authorship apparent.
                            Note however, that it is acceptable to explicitly refer in the paper to the companies or
                            organizations that provided datasets, hosted experiments, or deployed solutions. For
                            example, instead of stating that an experiment “was conducted on the logs of a major search
                            engine”, the authors should refer to the search engine by name. The reviewers will be
                            informed that it does not necessarily imply that the authors are currently affiliated with
                            the mentioned organization. While authors can upload to institutional or other preprint
                            repositories such as arXiv.org before reviewing is complete, we generally discourage this
                            since it places anonymity at risk (which could result in a negative outcome of the reviewing
                            process). Authors should carefully go through <a
                                href="https://www.acm.org/publications/policies/authorship">ACM’s authorship policy</a>
                            before submitting a
                            paper. To support identification of reviewers with conflicts of interest, the full author
                            list must be specified at submission time. Authors should note that changes to the author
                            list after the submission deadline are not allowed without permission from the Industry Chairs. At
                            least one author of each accepted paper is required to register for, attend, and present the
                            work at the conference.
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Topics of Interests</strong></h2>
                        <p>
                            We encourage submissions to the Industry Track in two categories:
                       
                        </p>
                             <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>
                                        Industry participants are invited to present innovative approaches used in
                                        actual systems and products. We also encourage presentations from small
                                        companies, especially startups or spin-offs from either a university project or
                                        a large company
                                    </li>
                                    <li>Open problems and newly emerging problems in industry that are of interest to
                                        academic and industrial IR researchers are also welcome</li>
                                </ul>
                            </blockquote>
                        <p>
                            We seek proposals of talks in all topic areas relevant to SIGIR 2020 in general (as listed
                            in the Call for Full Papers
                            (<a href="{{ site.baseurl }}/call-for-full-papers">Call for Full Papers</a>).
                            The following themes are also encouraged for the Industry Track:

                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Chatbot and question answering</li>
                                    <li>Knowledge graphs</li>
                                    <li>Advertising & E-commerce systems</li>
                                    <li>Internet economics</li>
                                    <li>Recommendation & personalization</li>
                                    <li>Privacy</li>
                                    <li>Federated Learning</li>
                                    <li>Fairness and biases</li>
                                </ul>
                            </blockquote>
                        </p>

                        <hr>
                        <p></p>
                        <h3><strong>Industry Track Chairs</strong></h3>
                        <ul>
                            <li>Milad Shokouhi, Microsoft <a href="mailto:milads@microsoft.com" target="_top">milads@microsoft.com</a> </li> 
                            <li>Luo Si, Alibaba Group Inc. <a href="mailto:luo.si@alibaba-inc.com" target="_top">luo.si@alibaba-inc.com</a> </li> 
                            <li>Grace Hui Yang, Georgetown University, USA <a href="mailto:huiyang@cs.georgetown.edu" target="_top">huiyang@cs.georgetown.edu</a> </li>  
                        </ul>
                        <br>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>