<div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container container-space">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand brand-style" href="index.html">
                <img id="logo-header" src="assets/img/SIGIR2020_logo.png" width="85" alt="Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Submit</a>
                    <ul class="dropdown-menu">
                        <li><a href="list-of-calls.html">List of calls</a></li>
                        <li><a href="call-for-full-papers.html">Call for Full Papers</a></li>
                        <li><a href="call-for-short-papers.html" class='disabled'>Call for Short Papers</a></li>
                        <li><a href="call-for-tutorials.html">Call for Tutorials</a></li>
                        <li><a href="call-for-workshop.html">Call for Workshops</a></li>
                        <li><a href="call-for-demonstration.html">Call for Demonstrations</a></li>
                        <li><a href="call-for-doctoral-consortium-papers.html">Call for Doctoral Consortium Papers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Program</a>
                    <ul class="dropdown-menu">
                        <li><a href="blank-page.html">Program at a Glance</a></li>
                        <li><a href="blank-page.html">Schedule</a></li>
                        <li><a href="blank-page.html">Keynotes and Panel</a></li>
                        <li><a href="blank-page.html">Tutorials</a></li>
                        <li><a href="blank-page.html">Workshops</a></li>
                        <li><a href="blank-page.html">Doctoral Consortium</a></li>
                        <li><a href="blank-page.html">Accepted Papers</a></li>
                    </ul>
                </li>
                <li class=""><a href="blank-page.html" class="">Attending</a></li>
                <li class=""><a href="organizers.html" class="">Organizers</a></li>
                <li class=""><a href="blank-page.html" class="">Sponsors</a></li>
            </ul>
        </div>
    </div>
</div>