---
title: "Travel Grants"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Travel Grants</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>                    
                    <li><a href="">Attend</a></li>
                    <li class="active">Travel Grants</li>
                </ul>
            </div>
        </div>
    
        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                   <div class="news-v3-in">
                            <h2><strong>SIGIR Student Travel Grant Program</strong></h2>
                       
                       <p><a href="https://sigir.org/general-information/travel-grants/">The SIGIR Student Travel Grant Program</a> provides funding for students to help cover the cost of attending SIGIR-sponsored conferences including SIGIR, CIKM, CHIIR, ICTIR, JCDL and WSDM.</p>
                       <p>This year, only ONE author of each accepted full/short/demo/DC paper need to register as “Author-Main Conference” in SIGIR 2020 and the SIGIR Travel Grant Program has decided to cover the “Author-Main Conference” registration fee for any student AUTHOR who registers as “Author-Main Conference” in the <a href="https://cvent.me/GVlxE7">SIGIR 2020 registration system</a>. The grants will be given in the form of reimbursements, so students will need to cover their costs upfront.</p>            
                      
                       <h3><strong>Eligibility</h3></strong>
                       <blockquote class="hero margin-bottom-50">
                       To be eligible, the student <strong>MUST</strong> satisfy both of the following two criteria:<br>
                       <ul>
                           <li>be an AUTHOR of a full, short, demo, and/or DC paper</li>
                           <li>be in a position where they need to pay the “Author Main Conference” registration rate to attend SIGIR 2020.</li>
                       </ul>
                       Note that student authors of a workshop paper are <strong>NOT</strong> eligible.
                       </blockquote>
                                    
                       <h3><strong>Application</strong></h3>                       
                       <blockquote class="hero margin-bottom-50">
                       To apply, please complete <a href="https://unc.az1.qualtrics.com/jfe/form/SV_1N9BdSw8PXFGKzj?conference=SIGIR_2020">this form for SIGIR 2020. Note that:<br>
                       <ul>
                       <li>The form for SIGIR 2020 expires on <span class="text-danger">July 25, 2020 Anywhere on Earth (AoE)</span>.</li>
                       <li>These awards will be processed as reimbursements by the ACM and awardees will need to provide receipts for the “Author-Main Conference” fee.</li>
                       <li>Awardees will receive instructions on how to be reimbursed after the conference.</li>
                       </ul>
                       </blockquote>
                       
                       <h3><strong>Contact</strong></h3>
                       Jaime Arguello, 
                       SIGIR Student Travel Grant Program Chair
                       Email: jarguell@email.unc.edu
                       If you have any questions or concerns, please feel free to contact us.
                       </div>
                </div>
            </div>
            <!--/end container-->
        </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>
</html>
