---
title: "Registration"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Registration</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active">Registration</li>
                </ul>
            </div>
        </div>
    
        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                   <div class="news-v3-in">
                            <h2><strong>ACM SIGIR 2020 Registration Guidelines</strong></h2>
                       
                       <p>Registration for SIGIR 2020 is now open!</p>                      
                       <p>Instead of being held as an on-site conference from July 25 to 30 in Xi’an, China, the prescheduled host city, SIGIR 2020 would be a virtual conference with the same schedule. To provide our attendees with a rememberable conference this year, in coordination with of the sponsors and partners, the organizers of SIGIR 2020 have been making all their efforts in transforming the conference into an online format. Detailed schedule would be available once everything is ready. The organizers of SIGIR 2020 are awareness of the fact that people in our community are experiencing difficulties during the pandemic of COVID-19 as well. As a response, the attendees are provided with highly reduced registration fees this year. There are 6 registration types with different registration rates:</p>
                       <ul>
                           <li>Author - Main Conference</li>
                           <li>Author - Tutorials and Workshop</li>
                           <li>Non-student premium attendee</li>
                           <li>Student premium attendee</li>
                           <li>Organizer</li>
                           <li>Volunteer</li>
                       </ul>
                       
                       <p>Despite of the number of authors in the accepted full papers, short papers, demo papers and industry track papers, only ONE author of EACH accepted paper ought to register as Author-Main Conference. This is a flat registration fee and no student discount can apply.</p>
                       <p>Despite of the number of authors in the accepted workshop papers, only ONE author of EACH accepted paper ought to register as Author-Tutorials and Workshops. This is a flat registration fee and no student discount can apply.</p>
                       <p>Please register as an author if there is only one author of your accepted paper who will attend the conference. The rest of the attendees who are willing to attend the conference are invited to register as either a Non-student premium attendee or a Student premium attendee and enjoy the premium services we provide. There are discounts for early bird registration and we highly encourage attendees to register earlier to have a lower price. In addition, if you go with the Passport, which includes both Main Conference and Tutorials + Workshops, the registration fee would be much cheaper.</p>
                       <p>As was committed by the organizing committee when biding for hosting SIGIR 2020, the students who register as the Student premium attendee enjoy a record low price for registration to SIGIR 2020. Students with EARLY registration (until June 30, 2020) only spend $45 to have a Passport attending both the main conference and tutorials + workshops. For organizers and/or volunteers of SIGIR 2020, please register as Organizer or Volunteer in the registration system. Details for registration fees are listed below.</p>
                       
                       <h3><strong>Details for Registration Fees</strong></h3>                       
                       <blockquote class="hero margin-bottom-50">                           
                           <span class="text-danger">Time Zone for registration: Hawaii-Aleutian Standard Time (GMT-10)</span><br>
                           <ul>
                               <li>Early Bird Rate: until June 30, 2020</li>
                               <li>Regular Rate: July 1-20, 2020</li>
                               <li>Late Rate: July 21-30, 2020</li>
                           </ul>
                           All fees are included and there are not any other administrative fees in any forms. Please note that the Student premium attendee is available to those are maintaining their student status during the conference and a proof of enrolment or student ID in either .jpg/.jpeg or .pdf format is required when registering.                                                      
                       </blockquote>
                    
                       <h3><strong>Ticket Benefits</strong></h3>
                       <blockquote class="hero margin-bottom-50">                          
                           <strong>Conference (Regular)</strong>
                           <ul>
                               <li>Main conference (Keynotes and all other sessions)</li>
                               <li>Premium services (EXCLUSIVE) in virtual meetings for main conference</li>
                           </ul>
                           <strong>Tutorials + Workshops (Regular)</strong>
                           <ul>
                               <li>Access to all the tutorials</li>
                               <li>Access to all the workshops</li>
                               <li>Premium services (EXCLUSIVE) in the virtual meetings for tutorials and workshops</li>
                           </ul>
                           strong>Passport (Regular)</strong>
                       Combined benefits of Conference (Regular) and Tutorials + Workshops (Regular)               
                       </blockquote>
    
                       <h3><strong>Confirmation</h3></strong>
                       The registration system will automatically send you an email confirmation once the payment is processed.<br>

                       <h3><strong>Receipt</h3></strong>
                       The registration receipt can be found in the confirmation email you received.<br>

                       <h3><strong>Cancellations</h3></strong>
                       <ul>
                           <li>For authors, requests received during the early registration period (before June 30, 2020) will be eligible for a 70% refund; while no refund for the requests received after July 1, 2020. </li>
                           <li>For non-student and student registrants, cancellation requests received during the early registration period (before June 30, 2020) will be eligible for a 40% refund; requests received before July 20, 2020 are eligible for a refund of 30%; cancellation requests that made after July 24, 2020 can only have a 20% refund. <br>
                           <li>At least one author of each accepted paper is required to attend and present the paper in the conference, i.e., request of cancellation will thus not be honored unless another co-author is registered for the event.<br>
                           <li>Requests for registration cancellation must be made in writing and emailed to the SIGIR 2020 Registration Chair. All refunds are likely to be processed after the end of the event and issued back to your credit card.</li>
                       </ul>
                       
                       <h3><strong>Requesting Visa Support Letters</h3></strong>
                       We do not provide Visa Support Letters as SIGIR 2020 would be a virtual conference.

                       <h3><strong>Contact information</h3></strong>
                       If you have any inquiries, please do not hesitate to contact us.<br>
                       Qinmin Vivian Hu, SIGIR 2020 Registration Chair<br>
                       Ryerson University<br>
                       Email: vivian@ryerson.ca                   
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>
</html>
