---
title: "SIGIR 2020 Sponsors"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">List of Sponsors</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active">Sponsors</li>
                </ul>
            </div>
        </div>
    
        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                   <div class="news-v3-in">
                        <h2><strong>SIGIR 2020 Sponsors</strong></h2>
                        
                        <h3 class="sponsor-class" > <strong>Diamond</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-4 text-center">
                                <img src="../assets/img/sponsors/BAAI (Diamond).png"
                                style="width:320px" alt="BAAI (Diamond)" >
                            </div>
                        </div>

                        <h3 class="sponsor-class" > <strong>Platinum</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3 text-center">
                                <img src="../assets/img/sponsors/library_logos_alibababh_large (Platinum).png"
                                style="width:220px; margin-top: 20%;" alt="Alibaba Group (Platinum)" >
                            </div>

                            <div class="col-sm-2 text-center ">
                                <img src="../assets/img/sponsors/Meituan-Platinum.png" 
                                    style="width:150px; margin-top: 20%;" alt="Meituan (Platinum)" >
                            </div>
                            
                        </div>

                        <br>

                        <h3 class="sponsor-class" > <strong>Gold</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-3 text-center">
                                <img src="../assets/img/sponsors/Microsoft-Gold.png" 
                                style="width:170px; margin-top: 30%;" alt="Microsoft (Gold)" 
                                >
                            </div>
                            <div class="col-sm-2 text-center">
                                <img src="../assets/img/sponsors/Noah-Ark-Lab-Huawei-Gold.jpg" 
                                    style="width:95px; margin-top: 10%;" alt="Noah's Ark Lab at Huawei (Gold)" >
                            </div>
                            <div class="col-sm-2 text-center">
                                <img src="../assets/img/sponsors/Baidu-Gold.png" 
                                    style="width:180px; margin-top: 15%;" alt="Baidu (Gold)" >
                            </div>
                        </div>

                        <br>

                        <h3 class="sponsor-class" > <strong>Silver</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-4 text-center">
                                <img src="../assets/img/sponsors/Kuaishou-Silver.png" 
                                style="width:150px; margin-top: 10%;" alt="Kuaishou (Silver)" 
                                >
                            </div>
                        </div>
                       
                       <div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="../assets/img/sponsors/TRS Information (Silver).png"
                                style="width:150px; margin-top: 15%;" alt="TRS Information (Silver)" 
                                >
                            </div>
                        </div>                       

                        <br>

                        <h3 class="sponsor-class" > <strong>Bronze</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-5 text-center">
                                <img src="../assets/img/sponsors/polixir-technology-bronze.png" 
                                style="width:150px " alt="Polixir Technology (Bronze)" 
                                >
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>
    
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>
</html>
