---
title: "SIGIR 2020 Sponsors"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">List of Sponsors</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active">Sponsors</li>
                </ul>
            </div>
        </div>
    
        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                   <div class="news-v3-in">
                        <h2><strong>SIGIR 2020 Sponsors</strong></h2>
                        
                        <h3 class="sponsor-class" > <strong>Diamond</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-4 text-center">
                                <a href="https://www.baai.ac.cn/en">
                                    <img src="../assets/img/sponsors/BAAI (Diamond).png"
                                         style="width:330px" alt="BAAI (Diamond)" >
                                </a>
                            </div>
                        </div>

                        <h3 class="sponsor-class" > <strong>Platinum</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-2 text-center">
                                <a href="https://www.alibabagroup.com/en/global/home">
                                    <img src="../assets/img/sponsors/library_logos_alibababh_large (Platinum).png" 
                                         style="width:270px; margin-top: 15%;" alt="Alibaba Group (Platinum)" >
                                </a>
                            </div>
                                
                            <div class="col-sm-2 col-sm-offset-1 text-center ">
                                <a href="https://tech.meituan.com/">
                                    <img src="../assets/img/sponsors/Meituan-Platinum.png"
                                         style="width:160px; margin-top: 15%;" alt="Meituan (Platinum)" >
                                </a>
                            </div>
                            
                            <div class="col-sm-2 col-sm-offset-0 text-center ">
                                <a href="https://www.amazon.science/conferences-and-events/sigir-2020">
                                    <img src="../assets/img/sponsors/Conference-amazon_logo_RGB-Platinum.png"
                                         style="width:130px; margin-top: 20%;" alt="Amazon (Platinum)" >
                                </a>
                            </div>
                        </div>

                        <br>

                        <h3 class="sponsor-class" > <strong>Gold</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <a href="https://www.microsoft.com/en-us/about">
                                    <img src="../assets/img/sponsors/Microsoft-Gold.png"
                                         style="width:200px; margin-top: 10%;" alt="Microsoft (Gold)" >
                                    </a>
                            </div>                                                                                    
                            <div class="col-sm-2 text-center">
                                <a href="https://www.baidu.com/">
                                    <img src="../assets/img/sponsors/Baidu-Gold.png" 
                                         style="width:180px; margin-top: 0%;" alt="Baidu (Gold)" >
                                    </a>
                            </div>
                            <div class="col-sm-2 col-sm-offset-0 text-center">
                                <a href="http://www.noahlab.com.hk/">
                                    <img src="../assets/img/sponsors/Huawei-Gold.png"
                                         style="width:180px; margin-top: 10%;" alt="Noah's Ark Lab at Huawei (Gold)" >
                                </a>
                            </div>
                            <div class="col-sm-2 col-sm-offset-0 text-center">
                                <a href="http://www.trs.com.cn/">
                                    <img src="../assets/img/sponsors/TRS Information-Gold.png"
                                         style="width:170px; margin-top: 12%;" alt="TRS Information (Gold)" >
                                </a>
                            </div>             
                            <div class="col-sm-2 col-sm-offset-0 text-center">
                                <a href="https://www.bytedance.com/en/">
                                    <img src="../assets/img/sponsors/ByteDance_Gold.png"
                                         style="width:170px; margin-top: 10%;" alt="ByteDance (Gold)" >
                                </a>
                            </div>
                            <div class="col-sm-2 col-sm-offset-0 text-center">
                                <a href="https://www.apple.com/">
                                    <img src="../assets/img/sponsors/Apple Logo (Gold).jpg"
                                         style="width:170px; margin-top: 10%;" alt="Apple (Gold)" >
                                </a>
                            </div>
                            
                        </div>

                        <br>

                        <h3 class="sponsor-class" > <strong>Silver</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-4 text-center">
                                <a href="https://www.kuaishou.com/">
                                    <img src="../assets/img/sponsors/Kuaishou (Silver).png" 
                                         style="width:120px; margin-top: 10%;" alt="Kuaishou (Silver)" >
                                </a>
                            </div>                                                        
                                                               
                            <div class="col-sm-2 col-sm-offset-0 text-center">
                                <a href="http://www.research.ibm.com/">
                                    <img src="../assets/img/sponsors/IBM Research-Silver.jpg" 
                                         style="width:260px; margin-top: 10%;" alt="IBM Research (Silver)" >
                                </a>
                            </div>                                                        
                        </div>
           
                        <br>

                        <h3 class="sponsor-class" > <strong>Bronze</strong> </h3>

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-5 text-center">
                                <a href="http://polixir.ai/">
                                     <img src="../assets/img/sponsors/Polixir Technology -Bronze.png"
                                          style="width:130px " alt="Polixir Technology (Bronze)" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>
    
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>
</html>
