---
title: "Call for Demonstrations"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Demonstrations</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Demonstrations</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Demonstrations for SIGIR 2020, Xi’an, China</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for demonstrations:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Demo papers due: <span class="text-danger">Feb 23, 2020</span><br>
                            Demo papers notification: <span class="text-danger">Apr 22, 2020</span><br>
                            Camera Ready for accepted demo papers: <span class="text-danger">TBD (Mid- to Late-May
                                2020)</span>
                        </p>

                        <p>
                            SIGIR is the major international forum for the presentation of new research results and for
                            the demonstration of new systems and techniques in the broad field of Information Retrieval
                            (IR). SIGIR 2020 will be held in Xi’an, China from 25 to 30 July 2020.
                        </p>
                        <p>
                            Demonstrations present first-hand experience with research prototypes or operational
                            systems. They provide opportunities to exchange ideas gained from implementing IR systems,
                            and to obtain feedback from expert users. We cordially invite all those working in areas
                            related to IR to submit original proposals for demonstrations. Proposals from startups and
                            industry players are also welcomed. Accepted demonstration submissions will appear in the
                            conference proceedings.
                        </p>
                        <p>
                            A good demonstration submission should be interesting to a SIGIR audience and should show a
                            novel solution to a problem. The demonstration submission should address the following
                            questions: Who is your target user? Why does your system exist and why is it important? What
                            does your demonstration do and how does it work? What does it look like? How does it compare
                            with existing systems? Finally, how and when might your technology have an impact, either
                            technically or commercially?
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Scope</strong></h2>
                        <p>
                            Demonstration submissions are welcome in any of the areas related to any aspects of IR, as
                            identified in the <a href="{{ site.baseurl }}/call-for-full-papers">Call for Full Papers</a>
                            for SIGIR 2020.
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            Submissions of demonstration papers must be in English and can be up to 4 pages in SIGIR
                            format (including references and figures). The first 2 pages are expected to describe your
                            system. The third and fourth pages are expected to be used for diagrams, images, references,
                            screen shots, hyperlinks, and demo requirements. You should expect wireless network access,
                            along with a table and poster mount backdrop, will be provided for all accepted
                            demonstrations. We cannot guarantee additional technical or practical requests. Upon
                            acceptance, all pages will be published in the SIGIR proceedings.

                        </p>
                        <p>
                            To help reviewers and readers of your demonstration paper intuitively and fully understand
                            your system, your demonstration submission should include either a link to a <strong>video
                                capture</strong>
                            or a link to the <strong>online web interface</strong> of your system (login details shall
                            be specified in
                            your submission if applicable).

                        </p>
                        <p>
                            Please note that, unlike short and full paper submissions, demonstration submissions are
                            <strong>single blind</strong>. You are not expected to take measures to conceal your
                            identity from reviewers.
                        </p>
                        <p>
                            Suitable LaTeX and Word templates for SIGIR are available from the <a
                                href="https://www.acm.org/publications/proceedings-template">ACM Website</a> (use
                            'sigconf' proceedings template). It is the responsibility of the authors to ensure that the
                            PDF submission has been uploaded successfully. We suggest downloading the PDF after
                            submission to check it is ok. Submissions that are over the 4-page limit and incomplete
                            submissions will be rejected without review. Authors should also go through <a
                                href="https://www.acm.org/publications/policies/authorship">ACM’s authorship policy</a>
                            before making a submission. Authors should note that changes to the author list after
                            the submission deadline are <strong>not allowed</strong> without permission from the PC
                            Chairs.
                        </p>

                        <p>
                            At least one author of each accepted demo paper is <strong>required</strong> to register
                            for, attend, and
                            present the work at the conference or the paper will not appear in the conference
                            proceedings in the ACM Digital Library.
                        </p>

                        <p>
                            All papers are to be submitted via EasyChair (demos track):
                            <a href="https://easychair.org/my/conference?conf=sigir2020">https://easychair.org/my/conference?conf=sigir2020</a>
                        </p>

                        <hr>

                        <p></p>

                        <h3><strong>Demo Chairs</strong></h3>
                        <ul>
                            <li>Aixin Sun, Nanyang Technological University, Singapore</li>
                            <li>Jiashu (Jessie) Zhao, Wilfrid Laurier University, Canada</li>
                        </ul>
                        <br>

                        <!-- <strong>Contact information:</strong>
                        <a href="mailto:sigir2020dc@easychair.org" target="_top">sigir2020dc@easychair.org</a> -->

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>