---
title: "Workshops"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Workshops</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Workshops</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Workshops at SIGIR 2020, Xi’an, China</strong>
                        </h2>

                        <!-- <h5 class="margin-bottom-5"><strong>Important dates for demonstrations:</strong></h5> -->
                        <!-- <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Demo papers due: <span class="text-danger">Feb 23, 2020</span><br>
                            Demo papers notification: <span class="text-danger">Apr 22, 2020</span><br>
                            Camera Ready for accepted demo papers: <span class="text-danger">TBD (Mid- to Late-May
                                2020)</span>
                        </p> -->

                        <!-- 1 -->
                        <hr>
                        <h4 class="margin-bottom-5">Deep Reinforcement Learning for Information Retrieval:
                            Fundamentals and Advances
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Weinan Zhang, Xiangyu Zhao, Li Zhao, Dawei Yin, Grace Yang and
                            Alex Beutel
                            <br>
                            <strong>URL:</strong> <a href="https://drl4ir.github.io/">https://drl4ir.github.io/</a>
                            <br>
                            <strong>A Short Description:</strong> Information retrieval (IR) techniques, such as search,
                            recommendation
                            and online advertising, satisfying users’ information needs by suggesting users personalized
                            objects (information or services) at the appropriate time and place, play a crucial role in
                            mitigating the information overload problem. Since the widely use of mobile applications,
                            more and more information retrieval services have provided interactive functionality and
                            products. Thus, learning from interaction becomes a crucial machine learning paradigm for
                            interactive IR, which is based on reinforcement learning. With recent great advances in deep
                            reinforcement learning (DRL), there have been increasing interests in developing DRL based
                            information retrieval techniques, which could continuously update the information retrieval
                            strategies according to users’ real-time feedback, and optimize the expected cumulative
                            long-term satisfaction from users. Our workshop aims to provide a venue, which can bring
                            together academia researchers and industry practitioners (i) to discuss the principles,
                            limitations and applications of DRL for information retrieval, and (ii) to foster research
                            on innovative algorithms, novel techniques, and new applications of DRL to information
                            retrieval.
                        </p>

                        <!-- 2 -->
                        <hr>
                        <h4 class="margin-bottom-5">The SIGIR 2020 Workshop on Applied Interactive Information Systems
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Hongshen Chen, Zhaochun Ren, Pengjie Ren, Dawei Yin, Xiaodong
                            He
                            <br>
                            <strong>URL:</strong> <a href="https://aiis.newidea.fun/">https://aiis.newidea.fun/</a>
                            <br>
                            <strong>A Short Description:</strong> Nowadays, intelligent information systems, especially
                            the interactive information systems (conversational interaction systems; news feed
                            recommender systems, and interactive search engines, etc.), are ubiquitous in real-world
                            applications. These systems either converse with users explicitly through natural languages,
                            or mine users interests and respond to users requests implicitly. Interactivity has become a
                            crucial element towards intelligent information systems. Despite the fact that interactive
                            information systems have gained significant progress, there are still many challenges to be
                            addressed when applying these models to real-world scenarios. This half day workshop
                            explores challenges and potential research, development, and application directions in
                            applied interactive information systems. We aim to discuss the issues of applying
                            interactive information models to production systems, as well as to shed some light on the
                            fundamental characteristics, i.e., interactivity and applicability, of different interactive
                            tasks. We welcome practical, theoretical, experimental, and methodological studies that
                            advances the interactivity towards intelligent information systems. The workshop aims to
                            bring together a diverse set of practitioners and researchers interested in investigating
                            the interaction between human and information systems to develop more intelligent
                            information systems.
                        </p>
                        <!-- 3 -->
                        <hr>
                        <h4 class="margin-bottom-5">The 1st International Workshop on Legal Intelligence
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Changlong Sun, Yating Zhang, Xiaozhong Liu, Fei Wu
                            <br>
                            <strong>URL:</strong> <a
                                href="https://legalai2020.github.io/">https://legalai2020.github.io/</a>
                            <br>
                            <strong>A Short Description:</strong> In the digital era, information retrieval,
                            text/knowledge mining, and NLP techniques are playing increasingly vital roles in legal
                            domain. While the open datasets and innovative deep learning methodologies provide critical
                            potentials, in the legal-domain, efforts need to be made to transfer the
                            theoretical/algorithmic models into the real applications to assist users, lawyers, judges
                            and the legal professions to solve the real problems. The objective of this workshop is to
                            aggregate studies/applications of text mining/retrieval and NLP automation in the context of
                            classical/novel legal tasks, which address algorithmic, data and social challenges of legal
                            intelligence. Keynote and invited presentations from industry and academic will be able to
                            fill the gap between ambition and execution in the legal domain.
                        </p>

                        <!-- 4 -->
                        <hr>
                        <h4 class="margin-bottom-5">The 3rd International Workshop on ExplainAble Recommendation and
                            Search (EARS 2020)
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Yongfeng Zhang, Xu Chen, Yi Zhang, Min Zhang, Chirag Shah
                            <br>
                            <strong>URL:</strong> <a href="https://ears2020.github.io/">https://ears2020.github.io/</a>
                            <br>
                            <strong>A Short Description:</strong> The motivation of the workshop is to promote the
                            research and application of Explainable Recommendation and Search, under the background of
                            Explainable AI in a more general sense. Explainable recommendation and search attempt to
                            develop models or methods that not only generate high-quality recommendation or search
                            results, but also intuitive explanations of the results for users or system designers, which
                            can help improve the system transparency, persuasiveness, trustworthiness, and
                            effectiveness, etc.
                        </p>

                        <!-- 5 -->
                        <hr>
                        <h4 class="margin-bottom-5">BIRDS - Bridging the Gap between Information Science, Information
                            Retrieval and Data Science
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Haiming Liu, Ingo Frommholz and Massimo Melucci
                            <br>
                            <strong>URL:</strong> <a
                                href="https://birds-ws.github.io/birds2020/">https://birds-ws.github.io/birds2020/</a>
                            <br>
                            <strong>A Short Description:</strong> We will be running a workshop called BIRDS - Bridging
                            the Gap between Information Science, Information Retrieval and Data Science, which aims to
                            foster the cross-fertilization of Information Science (IS), Information Retrieval (IR) and
                            Data Science (DS). Recognising the commonalities and differences between these communities,
                            the full-day workshop will bring together experts and researchers in IS, IR and DS to
                            discuss how they can learn from each other to provide more user-driven data and information
                            exploration and retrieval solutions. Therefore, we welcome submissions conveying
                            interdisciplinary ideas on how to utilise, for instance, IS concepts and theories in IR
                            and/or DS approaches to support users in data and information assess. BIRDS will be
                            collocated with the 43rd International ACM SIGIR Conference on Research and Development in
                            Information Retrieval (SIGIR 2020) at Xi’an, China
                        </p>

                        <!-- 6 -->
                        <hr>
                        <h4 class="margin-bottom-5">Deep Natural Language Processing for Search and Recommendation
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Bo Long, Jieping Ye, Zang Li, Huiji Gao, Sandeep Kumar Jha
                            <br>
                            <strong>URL:</strong> <a
                                href="https://sites.google.com/view/deepnlp2020">https://sites.google.com/view/deepnlp2020</a>
                            <br>
                            <strong>A Short Description:</strong> Search and recommender systems process rich natural
                            language text data such as user queries and documents (e.g., articles, profiles,
                            transcripts, comments, posts). Achieving high-quality search and recommendation results
                            requires processing and understanding such information effectively and efficiently, where
                            natural language processing (NLP) technologies are widely deployed. Natural language data
                            are represented as a sequence of words. Understanding such sequential information is
                            generally a nontrivial task in traditional methods, with challenges on both data sparsity
                            and data generalization. Deep learning models provide an opportunity to effectively extract
                            the representative relevant information, thus better understanding complicated semantics and
                            underlying user intention. In recent years, the rapid development of deep learning
                            technology has been proven successful for improving various NLP tasks, indicating their
                            great potential of promoting search and recommender systems.
                            <br>
                            Developing deep learning models for NLP in search and recommender systems involves various
                            fundamental components including 1) query and document understanding that extracts and
                            infers relevant information, such as intent prediction, entity tagging and disambiguation,
                            topic understanding and opinion mining; 2) retrieval and ranking methodologies designed with
                            strong latency restrictions and various matching strategies; and 3) language generation
                            techniques designed to proactively guide/interact with users to further resolve ambiguity,
                            such as query reformulation, (i.e., query suggestion, auto-completion, spell correction) and
                            conversational recommendation. Furthermore, conversational AI provides intelligent user
                            experience that is beyond current search and recommendation, which can potentially deliver
                            more values to members. In this workshop, we propose to discuss deep neural network based
                            NLP technologies and their applications in search and recommendation, with the goal of
                            understanding (1) Why deep NLP is helpful; (2) What are the challenges to develop and
                            productionize it; (3) How to overcome the challenges; (4) Where deep NLP models produce the
                            largest impact.
                        </p>

                        <!-- 7 -->
                        <hr>
                        <h4 class="margin-bottom-5">FinIR 2020: The First Workshop on Information Retrieval in Finance
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Dr. Fuli Feng, Dr. Cheng Luo, Prof. Xiangnan He, Prof. Yiqun
                            Liu, Prof. Tat-Seng Chua
                            <br>
                            <strong>URL:</strong> <a
                                href="https://finir2020.github.io/">https://finir2020.github.io/</a>
                            <br>
                            <strong>A Short Description:</strong> The FinIR 2020 workshop explores challenges and
                            potential research directions about Information Retrieval (IR) in finance. The focus will be
                            on stimulating discussions around the accessing, searching, filtering, and analyzing various
                            financial documents, such as the financial reports, analyst reports, filling forms, and news
                            reports, in various financial scenarios including banking, insurance, and investment. The
                            workshop aims to bring together a diverse set of researchers and practitioners interested in
                            theoretical, experimental, and methodological studies on relevant topics. The workshop also
                            hosts a grand challenge on quantifying analyst reports and news reports in multiple
                            languages for commodity price prediction.
                        </p>

                        <!-- 8 -->
                        <hr>
                        <h4 class="margin-bottom-5">The 2020 SIGIR Workshop On eCommerce
                        </h4>
                        <p>
                            <strong>Organizers:</strong> Dietmar Jannach, Surya Kallumadi, Tracy Holloway King, Weihua
                            Luo, Shervin Malmasi,
                            <br>
                            <strong>URL:</strong> <a
                                href="https://sigir-ecom.github.io/">https://sigir-ecom.github.io/</a>
                            <br>
                            <strong>A Short Description:</strong> The SIGIR Workshop on eCommerce will serve as a
                            platform for publication and discussion of Information Retrieval and NLP research & their
                            applications in the domain of eCommerce. This workshop will bring together practitioners and
                            researchers from academia and industry to discuss the challenges and approaches to product
                            search and recommendation in eCommerce.
                        </p>

                        <br>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>