---
title: "Call for Sponsorships"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Sponsorships</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li class="active">Sponsorships</li>
                </ul>
            </div>
        </div>
    
        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                   <div class="news-v3-in">
                            <h2><strong>Call for Sponsorships</strong></h2>
 
                        <p>International ACM SIGIR Conference on Research and Development in Information Retrieval attracted over 900 participants, the best talent in industry and academia, every year, in the past three years. The conference location rotates among North America, Asia, Australia, and Europe. </p>
                        <p>In 2020, SIGIR will be held in Xi’an, an ancient city with more than 3,100 years of history in China.
                        On behalf of the Organizing Committee for the 43rd International SIGIR 2020, we invite you to participate in the conference as a supporter of exhibitor.
                        </p>
                        <p>
                        Corporate sponsorship allows the conference registration fees to be kept as low as possible, especially for student attendees. both to promote attendance and to offset the cost of events and services. Your generosity will also help us expand SIGIR's program and events. Supporting SIGIR activities is an excellent way to reach a targeted audience and talents. SIGIR is a privileged place to highlight your involvement in the increasingly important area of online and document searching and to reach students for potential employment opportunities. </p>
                        <p>Based on the amount you donate, you will qualify for one of the following SIGIR Corporate Sponsorship levels (in US dollars or equivalent):</p>
    
                        <!--this table hidden on mobile,show on pc&pad-->
                        <div class="table-responsive hidden-xs">
                            <table cellpadding="5" cellspacing="5" class="table table-bordered table-striped sponsorship-table">
                                <thead>
                                <tr>
                                    <th class="text-center" width="120">Sponsorship </br> Level</th>
                                    <th class="text-center" width="200">Sponsorship Amount</th>
                                    <th class="text-center">Main Sponsor Benefits</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center"><span class="badge badge-dark"><strong>Diamond</strong></span>
                                    </td>
                                    <td width="200">Underwrite specific events (e.g., the conference banquet, reception, poster session, etc). Please contact the conference chairs for more information.</td>
                                    <td>
                                        <ul>
                                            <li>Full acknowledgment, banner, publicity table and (where appropriate) short speech at the start of the underwritten event</li>
                                            <li>VIP invitations for representatives of your company to attend the underwritten event</li>
                                            <li>Advance recognition as Diamond sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as a Diamond sponsor on the conference program</li>
                                            <li>Full page advertisement in the conference program Exhibit space for the entire conference</li>
                                            <li>Up to three company-provided items in the conference tote bag</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                            <li>Ten complimentary registrations for the main SIGIR conference</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <span class="badge badge-purple"><strong>Platinum</strong></span></td>
                                    <td class="text-center">$40,000</td>
                                    <td>
                                        <ul>
                                            <li>Advance recognition as Platinum sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as a Platinum sponsor on the conference program</li>
                                            <li>Full page advertisement in the conference program</li>
                                            <li>Exhibit space in the atrium for the entire conference</li>
                                            <li>Up to three company-provided items in the conference tote bag</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                            <li>Ten complimentary registrations for the main SIGIR conference</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="badge badge-yellow"><strong>Gold</strong></span>
                                    </td>
                                    <td class="text-center">$20,000</td>
                                    <td>
                                        <ul>
                                            <li>Advance recognition as Gold sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as a Gold sponsor on the conference program</li>
                                            <li>Exhibit space for the entire conference.</li>
                                            <li>Up to two company-provided items in the conference tote bag</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                            <li>Three complimentary registrations for the main SIGIR conference</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="badge badge-light"><strong>Silver</strong></span>
                                    </td>
                                    <td class="text-center">$10,000</td>
                                    <td>
                                        <ul>
                                            <li>Advance recognition as Silver sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as a Silver sponsor on the conference program</li>
                                            <li>One company-provided item in the conference tote bag</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                            <li>Two complimentary registrations for the main SIGIR conference</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="badge badge-brown"><strong>Bronze</strong></span>
                                    </td>
                                    <td class="text-center">$5,000</td>
                                    <td>
                                        <ul>
                                            <li>Advance recognition as Bronze sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as a Bronze sponsor on the conference program</li>
                                            <li>One page insert in the conference tote bag</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                            <li>One complimentary registration for the main SIGIR conference</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="badge badge-sea"><strong>Friends</strong></span>
                                    </td>
                                    <td class="text-center">$1,000</td>
                                    <td>
                                        <ul>
                                            <li>Advance recognition as Other sponsor on the conference website and any publicity materials</li>
                                            <li>Recognition as Other sponsors on the conference program</li>
                                            <li>Logo displayed on signage at SIGIR 2020</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
    
                        <!--this block hidden on pc&[ad, but show on mobile-->
                        <div class="visible-xs">
    
                            <div id="Diamond">
                                <p style="margin-bottom: 0"><span class="badge badge-dark"><strong>Diamond</strong></span>
                                </p>
                                <p style="margin-bottom: 0"> Underwrite specific events (e.g., the conference banquet, reception, poster session, etc). Please contact the conference chairs for more information.</p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Full acknowledgment, banner, publicity table and (where appropriate) short speech at the start of the underwritten event</li>
                                        <li>VIP invitations for representatives of your company to attend the underwritten event</li>
                                        <li>Advance recognition as Diamond sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as a Diamond sponsor on the conference program</li>
                                        <li>Full page advertisement in the conference program Exhibit space for the entire conference</li>
                                        <li>Up to three company-provided items in the conference tote bag</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                        <li>Ten complimentary registrations for the main SIGIR conference</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
    
    
                            <div id="Platinum">
                                <p style="margin-bottom: 0">
                                    <span class="badge badge-purple"><strong>Platinum</strong></span>
                                <h2>$40,000</h2></p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Advance recognition as Platinum sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as a Platinum sponsor on the conference program</li>
                                        <li>Full page advertisement in the conference program</li>
                                        <li>Exhibit space in the atrium for the entire conference</li>
                                        <li>Up to three company-provided items in the conference tote bag</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                        <li>Ten complimentary registrations for the main SIGIR conference</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
    
                            <div id="Gold">
                                <p style="margin-bottom: 0"><span class="badge badge-yellow"><strong>Gold</strong></span>
                                <h2>$20,000</h2></p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Advance recognition as Gold sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as a Gold sponsor on the conference program</li>
                                        <li>Exhibit space for the entire conference.</li>
                                        <li>Up to two company-provided items in the conference tote bag</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                        <li>Three complimentary registrations for the main SIGIR conference</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
    
                            <div id="Silver">
                                <p style="margin-bottom: 0"><span class="badge badge-light"><strong>Silver</strong></span>
                                <h2>$10,000</h2></p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Advance recognition as Silver sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as a Silver sponsor on the conference program</li>
                                        <li>One company-provided item in the conference tote bag</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                        <li>Two complimentary registrations for the main SIGIR conference</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
    
                            <div id="Bronze">
                                <p style="margin-bottom: 0"><span class="badge badge-brown"><strong>Bronze</strong></span>
                                <h2>$5,000</h2></p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Advance recognition as Bronze sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as a Bronze sponsor on the conference program</li>
                                        <li>One page insert in the conference tote bag</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                        <li>One complimentary registration for the main SIGIR conference</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
    
    
                            <div id="Friends">
                                <p style="margin-bottom: 0"><span class="badge badge-sea"><strong>Friends</strong></span>
                                <h2>$1,000</h2></p>
                                <blockquote class="hero">
                                    <ul>
                                        <li>Advance recognition as Other sponsor on the conference website and any publicity materials</li>
                                        <li>Recognition as Other sponsors on the conference program</li>
                                        <li>Logo displayed on signage at SIGIR 2020</li>
                                    </ul>
                                </blockquote>
                                <hr>
                            </div>
                        </div>
    
    
    
                        <p>In addition, all Corporate Sponsors enjoy:</p>
                        <ul>
                            <li>VIP seating for complimentary registrants at plenary sessions</li>
                            <li>Use of SIGIR Corporate Sponsorship logo</li>
                            <li>Your logo and URL on the SIGIR 2020 Web site</li>
                            <li>Access to students for potential employment opportunities</li>
                        </ul>
                        <p>If you are interested to become a sponsor for SIGIR 2020 in any of these capacities or in other ways, please contact the conference co-chairs or the sponsorship co-chairs.</p>
                        <p>&nbsp;</p>
                        <h3><strong>We look forward to seeing you in Xi'an! </strong></h3>
                        <p>Yi Chang, Jilin University (yichang@acm.org) <br>
                           Xueqi Cheng, Chinese Academy of Sciences (cxq@ict.ac.cn) <br>
                           Jimmy Huang, York University (jhuang@yorku.ca) <br>
                           SIGIR 2020 General Chairs <br>
                           sigir2020@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>
    
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->
    
    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>
</html>
