---
title: "Workshops"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Tutorials</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Tutorials</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Tutorials at SIGIR 2020, Xi’an, China</strong>
                        </h2>
                        <h4 class="margin-bottom-5">
                            <strong>Day Tutorial pairings</strong>
                        </h4>

                        <!-- 1 -->
                        <hr>
                        <h4 class="margin-bottom-5">
                            1. Conversational IR/Recommendation
                        </h4>
                        <p>
                            <p>
                                <strong>AM:</strong> 1473 Wenqiang Lei, Xiangnan He, Maarten de Rijke and Tat-Seng
                                Chua.
                                <br>
                                Conversational Recommendation: Formulation, Methods, and
                                Evaluation                                
                            </p>
                            <p>
                                <strong>PM:</strong> 869 Jianfeng Gao, Chenyan Xiong and Paul Bennett.
                                <br>
                                Recent Advances in Conversational Information Retrieval
                            </p>
                            <p>
                                <strong>PM:</strong> 1295 Iván Palomares and James Neve.
                                <br>
                                Reciprocal Recommendation: matching users with the right users
                            </p>
                        </p>

                        <!-- 2 -->
                        <hr>
                        <h4 class="margin-bottom-5">
                            2. Web IR
                        </h4>
                        <p>
                            <p>
                                <strong>AM:</strong>
                                953 Ahmed El-Kishky, Philipp Koehn and Holger Schwenk.
                                <br>
                                Mining the Web for Cross-lingual Parallel Data                             
                            </p>
                            <p>
                                <strong>PM:</strong> 
                                1286 Rishiraj Saha Roy and Avishek Anand. 
                                <br>
                                Question Answering over Curated and Open Web Sources
                            </p>
                        </p>
                        

                        <!-- 3 -->
                        <hr>
                        <h4 class="margin-bottom-5">
                            3. Interactive IR
                        </h4>
                        <p>
                            <p>
                                <strong>AM:</strong>
                                1185 Chirag Shah and Ryen White.
                                <br>
                                Tutorial on Task-Based Search and Assistance                             
                            </p>
                            <p>
                                <strong>PM:</strong> 
                                1192 Xiaohui Xie, Jiaxin Mao, Yiqun Liu and Maarten de Rijke. 
                                <br>
                                Modeling User Behavior for Vertical Search: Images, Apps and Products
                            </p>
                            <p>
                                <strong>PM:</strong> 
                                 1408 Chengxiang Zhai. 
                                <br>
                                Interactive Information Retrieval: Models, Algorithms, and Evaluation
                            </p>
                        </p>          

                        <br>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>