/* Add here all your css styles (customizations) */

*{font-family: 'Open Sans', sans-serif;}
.hero ul li{font-size: 0.85em; margin-bottom:1rem; line-height:1.4; font-style: italic}

.organizers-type-list{font-size: 0.85em}
.organizers-type-list-float {position:fixed;z-index:999999;top:20px;}

#organizers{}
#organizers h4{ margin: 20px 0 30px; border-left: 7px solid #cc0000;padding-left: 10px; line-height:0.9;}
#organizers ul{ margin: 0;padding:0; overflow: hidden; clear: both; margin-bottom: 1rem; border-bottom: 1px dotted #e1e2e3}
#organizers ul li{}
#organizers ul li.person-card{ list-style: none; width:33%; float: left; height:220px; overflow: hidden;text-align: center; font-size: 10px; line-height:1.5; color: #999 }
#organizers ul li.person-card a{ display: block;font-size:1.5rem;font-weight: bold}
#organizers ul li.person-card a img{ width:55%; display: block; margin:0 auto 5px; padding: 2px; border: 1px solid #f1f2f3; border-radius:6px!important;}


blockquote.hero{border-left: solid 2px #e1e2e3;}
.hero ul{padding: 0 20px 0 20px}

.news-v3 p,.save_the_date p{
    text-align: -webkit-match-parent;
    word-spacing: 0.1rem;
    line-height: 2;
    text-align: justify;
    text-align: left;
}



@media(max-width: 999px) {
    #organizers ul li.person-card{ width:50%; height:200px; }

    #organizers ul li.person-card a img{ width:80%;}


    blockquote.hero{border-left: solid 2px #e1e2e3;}
    .hero ul li{font-style: inherit;font-size: 13px; line-height: 1.6}


    .hero ul{padding: 0 10px 0 10px}
    .news-v3 .news-v3-in{padding:30px 20px}
    .news-v3 p,.save_the_date p{
        text-align:left;
        font-size: 13px;
    }

}
