---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Doctoral Consortium</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Doctoral Consortium</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="accepted-papers-lists">
                                    <!--BEGIN  Doctoral consortium abstract-->
                                    <h3 class="margin-bottom-5 accepted-papers-caption-new" id="DoctoralConsortiumAbstract"><strong> Doctoral Consortium Papers</strong></h3>
    
                                    <h4 class="accepted-papers-title">Language Agnostic Hate Speech Detection</h4>
                                    <h5 class="accepted-papers-authors">Ayme Arango: University of Chile</h5>
                                    <h4 class="accepted-papers-title">Legal Data Analytics: Developing Assistive Tools for
                                        Legal
                                        Practitioners and the Common Man</h4>
                                    <h5 class="accepted-papers-authors">Paheli Bhattacharya: Indian Institute of Technology
                                        Kharagpur</h5>
                                    <h4 class="accepted-papers-title">Multi-document answer generation for non-factoid
                                        questions</h4>
                                    <h5 class="accepted-papers-authors">Valeriia Bolotova-Baranova: RMIT University</h5>
                                    <h4 class="accepted-papers-title">Spatio-temporal conditioned language models</h4>
                                    <h5 class="accepted-papers-authors">Juglar Diaz Zamora: Universidad de Chile</h5>
                                    <h4 class="accepted-papers-title">Explaining Recommendations in Heterogeneous
                                        Networks</h4>
                                    <h5 class="accepted-papers-authors">Azin Ghazimatin: Max Planck Institute for
                                        Informatics</h5>
                                    <h4 class="accepted-papers-title">Every Penny Counts: On Increasing the Intrinsic Value
                                        of
                                        Crowdsourcing</h4>
                                    <h5 class="accepted-papers-authors">Lei Han: The University of Queensland</h5>
                                    <h4 class="accepted-papers-title">End-to-End Contextualized Document Indexing and
                                        Retrieval with
                                        Neural Networks</h4>
                                    <h5 class="accepted-papers-authors">Sebastian Hofstätter: Vienna University of
                                        Technology</h5>
                                    <h4 class="accepted-papers-title">Incorporating User Feedback in Conversational Question
                                        Answering
                                        over Heterogeneous Web Sources</h4>
                                    <h5 class="accepted-papers-authors">Magdalena Kaiser: Max Planck Institute for
                                        Informatics</h5>
                                    <h4 class="accepted-papers-title">User Modeling Towards Stateful Learning to Rank</h4>
                                    <h5 class="accepted-papers-authors">Yanpeng Lin: University of Tsukuba</h5>
                                    <h4 class="accepted-papers-title">Improving the Effectiveness and Efficiency of Graph
                                        NeuralRecommender Systems</h4>
                                    <h5 class="accepted-papers-authors">Siwei Liu: University of Glasgow</h5>
                                    <h4 class="accepted-papers-title">Towards Legal Case Retrieval</h4>
                                    <h5 class="accepted-papers-authors">Yunqiu Shao: Tsinghua University</h5>
                                    <h4 class="accepted-papers-title">Biomedical Information Retrieval Incorporating
                                        Knowledge Graph for
                                        Explainable Precision Medicine</h4>
                                    <h5 class="accepted-papers-authors">Zuoxi Yang: South China University of Technology;
                                        Shoubin Dong:
                                        South China University of Technology</h5>
                                    <h4 class="accepted-papers-title">Towards Evaluating Veracity of Textual Statements on
                                        the Web</h4>
                                    <h5 class="accepted-papers-authors">Qiang Zhang: University College London</h5>
                                    <h4 class="accepted-papers-title">Bridging East and West: An Integration of TCM and
                                        Western Medicine
                                        in Medical Text Mining</h4>
                                    <h5 class="accepted-papers-authors">Runjie Zhu: York University</h5>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- Contents end--> 
            </div>
          </div>
        <!--/end container-->
      </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
