---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
    <style>
        p {
            border-left: 2px solid #888787;
            padding: 5px;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Doctoral Consortium</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Doctoral Consortium</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <!--BEGIN  Doctoral consortium abstract-->
                        <h2>
                            <strong>SIGIR 2020 Doctoral Consortium Schedule</strong>
                        </h2>

                        <h3>
                            <strong>Sunday, July 26, 2020 <span class="text-danger">(Time Zone: GMT+8)</span> </strong>
                        </h3>

                        <!--  -->
                        <h4 style="text-align: center; border: 1px solid #888787; border-radius: 20px; padding: 5px; margin-bottom: 10px;">
                            FIRST DC SESSION
                        </h4>
                        <h4>Moderator: Gabriella Kazai<br>
                        Time: 2:30pm-4:30pm
                            </h4>
                        <div>
                            <p>
                                Magdalena Kaiser - <strong>Incorporating User Feedback in Conversational Question
                                    Answering over Heterogeneous Web Sources</strong>
                            </p>
                            <p>
                                Yunqiu Shao - <strong>Towards Legal Case Retrieval</strong>
                            </p>
                            <p>
                                Lei Han - <strong>Every Penny Counts: On Increasing the Intrinsic Value of
                                    Crowdsourcing</strong>
                            </p>
                            <p>Zuoxi Yang -
                                <strong>Biomedical Information Retrieval Incorporating Knowledge Graph for
                                    Explainable Precision Medicine</strong>
                            </p>
                            <p>Runjie Zhu -
                                <strong>Bridging East and West: An Integration of TCM and Western Medicine in Medical
                                    Text Mining</strong>
                            </p>
                        </div>

                        <h4 style="text-align: center;  padding: 5px; margin-bottom: 10px;">
                            BREAK (4:30pm-5:00pm)<br>
                        </h4>

                        <!--  -->
                        <h4 style="text-align: center; border: 1px solid #888787; border-radius: 20px; padding: 5px; margin-bottom: 10px;">
                            SECOND DC SESSION
                        </h4>
                        <h4>Moderator: Jialie Shen<br>
                        Time: 5:00pm-7:00pm</h4>
                        <div>
                            <p>Paheli Bhattacharya -
                                <strong>Legal Data Analytics: Developing Assistive Tools for Legal
                                    Practitioners</strong>
                            </p>
                            <p>Qiang Zhang - <strong>Towards Evaluating Veracity of Textual Statements on the
                                    Web</strong></p>
                            <p>Azin Ghazimatin - <strong>Explaining Recommendations in Heterogeneous Networks</strong>
                            </p>
                            <p>Siwei Liu - <strong>Improving the Effectiveness and Efficiency of Graph NeuralRecommender
                                    Systems</strong>
                            </p>
                            <p>Sebastian Hofstätter -
                                <strong>End-to-End Contextualized Document Indexing and Retrieval with
                                    Neural Networks</strong> </p>
                        </div>

                        <!--  -->

                        <h4 style="text-align: center;  padding: 5px; margin-bottom: 10px;">
                            BREAK (7:00pm-7:30pm)<br>
                        </h4>
                        
                        <h4 style="text-align: center; border: 1px solid #888787; border-radius: 20px; padding: 5px; margin-bottom: 10px;">
                            THIRD DC SESSION
                        </h4>
                        <h4>Moderator: Barbara Poblete<br>
                        Time: 7:30pm-9:00pm</h4>
                        <div>
                            <p>Valeriia Bolotova-Baranova - <strong>Multi-document answer generation for non-factoid questions</strong> 
                            </p>
                            <p>Ayme Arango - <strong>Language Agnostic Hate Speech Detection</strong></p>
                            <p>Yanpeng Lin - <strong>User Modeling Towards Stateful Learning to Rank</strong> </p>
                            <p>Juglar Diaz Zamora - <strong>Spatio-temporal conditioned language models</strong> </p>
                        </div>

                    </div>

                </div>
                <!-- Contents end-->
            </div>
        </div>
        <!--/end container-->
    </div>
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
