---
title: "Schedule"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>SIGIR 2020</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
    <style>
        p {
            border-left: 2px solid #888787;
            padding: 5px;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Industry Track Schedule</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Industry Track Schedule</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">
                        <h2><strong>SIGIR 2020 Industry Track Schedule</strong></h2>

                        <!--  -->
                        <h3>
                            <strong>Session 1:</strong>
                        </h3>

                        <div>
                            <h5 class="margin-bottom-5" style="margin-bottom: 5px">
                                <strong style="border-bottom: 1px solid #888787;">Keynote: Dr. Rong Jin (45 mins
                                    presentation + 15 mins QA)</strong>
                            </h5>

                            <p>
                                Jiarui Qin, Weinan Zhang, Xin Wu, Jiarui Jin, Yuchen Fang and Yong Yu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4893954;a=23755508">User
                                    Behavior
                                    Retrieval for Click-Through Rate Prediction</a> 20 mins presentation + 5 mins QA
                            </p>

                            <p>Liang Wu and Mihajlo Grbovic.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4926768">
                                    How Airbnb Tells You Will Enjoy Sunset Sailing in Barcelona? Recommendation in a
                                    Two-Sided Travel Marketplace
                                </a> 20 mins presentation + 5 mins QA</p>
                        </div>

                        <hr>

                        <!--  -->
                        <h3>
                            <strong>Session 2:</strong>
                        </h3>

                        <div>

                            <p>
                                Simon Gog, Giulio Ermanno Pibiri and Rossano Venturini.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4961515;a=23755508">
                                    Efficient and Effective Query Auto-Completion
                                </a>
                                20 mins presentation + 5 mins QA
                            </p>

                            <p>
                                Yufei Feng, Binbin Hu, Fuyu Lv, Qingwen Liu, Zhiqiang Zhang and Wenwu Ou.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4962829">
                                    ATBRG: Adaptive Target-Behavior Relational Graph Network for Effective
                                    Recommendation
                                </a>
                                20 mins presentation + 5 mins QA
                            </p>

                            <p>
                                Lianghao Xia, Chao Huang, Yong Xu, Peng Dai, Bo Zhang and Liefeng Bo.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967661;a=23755508">
                                    Multiplex Behavioral Relation Learning for Recommendation via Memory Augmented
                                    Transformer Network</a>
                                20 mins presentation + 5 mins QA
                            </p>

                            <p>
                                Hong Wen, Jing Zhang, Yuan Wang, Fuyu Lv, Wentian Bao, Quan Lin and Keping Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4942889">
                                    Entire Space Multi-Task Modeling via Post-Click Behavior Decomposition for
                                    Conversion Rate Prediction</a>
                                20 mins presentation + 5 mins QA
                            </p>

                            <p>Haochen Liu, Xiangyu Zhao, Chong Wang, Xiaobing Liu and Jiliang Tang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4961331">
                                    Automated Embedding Size Search in Deep Recommender Systems</a>
                                20 mins presentation + 5 mins QA
                            </p>
                        </div>

                        <hr>

                        <!--  -->

                        <h3>
                            <strong>Session 3: </strong>
                        </h3>

                        <div>
                            <h5 class="margin-bottom-5" style="margin-bottom: 5px">
                                <strong style="border-bottom: 1px solid #888787;">Keynote: Dr. Roise Jones (45 mins
                                    presentation + 15 mins QA)</strong>
                            </h5>

                            <p>
                                Guoxiu He, Zhe Gao, Zhuoren Jiang, Yangyang Kang, Changlong Sun, Xiaozhong Liu and Wei
                                Lu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4962535">
                                    Think Beyond the Word: Understanding the Implied Textual Meaning by Digesting
                                    Context, Local, and Noise</a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Mengxi Wei, Yifan He and Qiong Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4953559;a=23755508">Robust
                                    Layout-aware IE for Visually Rich Documents with Pre-trained Language
                                    Models</a>
                                20 mins presentation + 5 mins QA
                            </p>

                        </div>

                        <hr>
                        <!--  -->
                        <h3>
                            <strong>Session 4:</strong>
                        </h3>

                        <div>

                            <p>
                                Yingqiang Ge, Shuya Zhao, Honglu Zhou, Changhua Pei, Fei Sun, Wenwu Ou and Yongfeng
                                Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4967370">Understanding
                                    Echo Chambers in E-commerce Recommender Systems </a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Han Zhang, Songlin Wang, Kang Zhang, Zhiling Tang, Yunjiang Jiang, Yun Xiao, Paul Yan
                                and Wen-Yun Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4959020;a=23755508">Towards
                                    Personalized and Semantic Retrieval: An End-to-End Solution for
                                    E-commerce Search via Embedding Learning </a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Wentian Bao, Hong Wen, Sha Li, Xiao-Yang Liu, Quan Lin and Keping Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4964915">
                                    GMCM: Graph-based Micro-behavior Conversion Model for Post-click Conversion Rate
                                    Estimation
                                </a>
                                20 mins presentation + 5 mins QA
                            </p>

                            <p>
                                Ye Bi, Liqiang Song, Mengqiu Yao, Zhenyu Wu, Jianming Wang and Jing Xiao.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4966636;a=23755508">A
                                    Heterogeneous Information Network based Cross Domain Insurance Recommendation System
                                    for Cold Start Users</a>
                            </p>
                            <p>
                                Kelong Mao, Xi Xiao, Jieming Zhu, Biao Lu, Ruiming Tang and Xiuqiang He.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4967690">Item
                                    Tagging for Information Retrieval: A Tripartite Graph Neural Network based
                                    Approach</a>
                            </p>

                        </div>

                        <hr>

                        <!--  -->
                        <h3>
                            <strong>Session 5:</strong>
                        </h3>

                        <div>

                            <p>
                                Dawei Cheng, Fangzhou Yang, Xiaoyang Wang, Ying Zhang and Liqing Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4956606;a=23755508">Knowledge
                                    Graph-based Event Embedding Framework for Financial Quantitative
                                    Investments </a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Dehong Gao, Linbo Jin, Ben Chen, Minghui Qiu, Yi Wei, Yi Hu and Hao Wang. 
                                <a href="https://easychair.org/conferences/submission_reviews?a=23755500;submission=4966567">FashionBERT: Text and Image Matching with Adaptive Loss for Cross-modal Retrieval </a> 
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Haojie Pan, Rongqin Yang, Xin Zhou, Rui Wang, Deng Cai and Xiaozhong Liu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4966412">Large
                                    Scale Abstractive Multi-Review Summarization (LSARS) via Aspect
                                    Alignment </a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Zhenxin Fu, Yu Wu, Hailei Zhang, Yichuan Hu, Dongyan Zhao and Rui Yan.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4963362">Be
                                    Aware of the Hot Zone: A Warning System of Hazard Area Prediction to
                                    Intervene Novel Coronavirus COVID-19 Outbreak </a>
                                20 mins presentation + 5 mins QA
                            </p>
                        </div>

                        <hr>
                        <!--  -->
                        <h3>
                            <strong>Session 6:</strong>
                        </h3>
                        <div>
                            <p>
                                Yuanfei Luo, Hao Zhou, Weiwei Tu, Yuqiang Chen, Wenyuan Dai and Qiang Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4958208;a=23755508">Network
                                    On Network for Tabular Data Classification in Real-world
                                    Applications</a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Yuan Tian, Ke Zhou, Mounia Lalmas and Dan Pelleg.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967717;a=23755508">Identifying
                                    Tasks from Mobile App Usage Patterns</a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Benjamin Gutelman and Pavel Levin.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4965590">Efficient
                                    image gallery representations at scale through multi-task
                                    learning</a>
                                20 mins presentation + 5 mins QA
                            </p>
                            <p>
                                Viet Ha-Thuc, Avishek Dutta, Ren Mao, Matthew Wood and Yunli Liu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967163;a=23755508">A
                                    Counterfactual Framework for Seller-Side A/B Testing on Marketplaces</a>
                                20 mins presentation + 5 mins QA
                            </p>

                        </div>

                        <hr>
                        <!--  -->

                        <h2>Paper Categories</h2>

                        <h3><strong>NPL:</strong></h3>
                        <div>
                            <p>
                                Guoxiu He, Zhe Gao, Zhuoren Jiang, Yangyang Kang, Changlong Sun, Xiaozhong Liu and Wei
                                Lu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4962535">Think
                                    Beyond the Word: Understanding the Implied Textual Meaning by Digesting Context,
                                    Local, and Noise</a>
                            </p>
                            <p>
                                Mengxi Wei, Yifan He and Qiong Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4953559;a=23755508">Robust
                                    Layout-aware IE for Visually Rich Documents with Pre-trained Language Models</a>
                            </p>
                            <p>
                                Dawei Cheng, Fangzhou Yang, Xiaoyang Wang, Ying Zhang and Liqing Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4956606;a=23755508">Knowledge
                                    Graph-based Event Embedding Framework for Financial Quantitative Investments</a>
                            </p>
                            <p>
                                Haojie Pan, Rongqin Yang, Xin Zhou, Rui Wang, Deng Cai and Xiaozhong Liu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4966412">Large
                                    Scale Abstractive Multi-Review Summarization (LSARS) via Aspect Alignment</a>
                            </p>
                        </div>

                        <hr>

                        <h3><strong>Search/Recommendation:</strong></h3>
                        <div>
                            <p>
                                Jiarui Qin, Weinan Zhang, Xin Wu, Jiarui Jin, Yuchen Fang and Yong Yu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4893954;a=23755508">User
                                    Behavior Retrieval for Click-Through Rate Prediction</a>
                            </p>
                            <p>
                                Liang Wu and Mihajlo Grbovic.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4926768">How
                                    Airbnb Tells You Will Enjoy Sunset Sailing in Barcelona? Recommendation
                                    in a Two-Sided Travel Marketplace</a>
                            </p>
                            <p>
                                Simon Gog, Giulio Ermanno Pibiri and Rossano Venturini.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4961515;a=23755508">Efficient
                                    and Effective Query Auto-Completion</a>
                            </p>
                            <p>
                                Yufei Feng, Binbin Hu, Fuyu Lv, Qingwen Liu, Zhiqiang Zhang and Wenwu Ou.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4962829">ATBRG:
                                    Adaptive Target-Behavior Relational Graph Network for Effective
                                    Recommendation</a>
                            </p>
                            <p>
                                Lianghao Xia, Chao Huang, Yong Xu, Peng Dai, Bo Zhang and Liefeng Bo.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967661;a=23755508">Multiplex
                                    Behavioral Relation Learning for Recommendation via Memory
                                    Augmented Transformer Network</a>
                            </p>

                            <p>
                                Hong Wen, Jing Zhang, Yuan Wang, Fuyu Lv, Wentian Bao, Quan Lin and Keping Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4942889">Entire
                                    Space Multi-Task Modeling via Post-Click Behavior Decomposition for Conversion Rate
                                    Prediction</a>
                            </p>
                            <p>
                                Haochen Liu, Xiangyu Zhao, Chong Wang, Xiaobing Liu and Jiliang Tang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4961331">Automated
                                    Embedding Size Search in Deep Recommender Systems</a>
                            </p>
                            <p>
                                Yingqiang Ge, Shuya Zhao, Honglu Zhou, Changhua Pei, Fei Sun, Wenwu Ou and Yongfeng
                                Zhang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4967370">Understanding
                                    Echo Chambers in E-commerce Recommender Systems</a>
                            </p>
                            <p>
                                Han Zhang, Songlin Wang, Kang Zhang, Zhiling Tang, Yunjiang Jiang, Yun Xiao, Paul Yan
                                and Wen-Yun Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4959020;a=23755508">Towards
                                    Personalized and Semantic Retrieval: An End-to-End Solution for
                                    E-commerce Search via Embedding Learning</a>

                            </p>
                            <p>
                                Wentian Bao, Hong Wen, Sha Li, Xiao-Yang Liu, Quan Lin and Keping Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4964915">GMCM:
                                    Graph-based Micro-behavior Conversion Model for Post-click Conversion Rate
                                    Estimation</a>
                            </p>

                            <p>
                                Ye Bi, Liqiang Song, Mengqiu Yao, Zhenyu Wu, Jianming Wang and Jing Xiao.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4966636;a=23755508">A
                                    Heterogeneous Information Network based Cross Domain Insurance Recommendation System
                                    for Cold Start Users</a>
                            </p>
                            <p>
                                Kelong Mao, Xi Xiao, Jieming Zhu, Biao Lu, Ruiming Tang and Xiuqiang He.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4967690">Item
                                    Tagging for Information Retrieval: A Tripartite Graph Neural Network based
                                    Approach</a>
                            </p>
                        </div>

                        <hr>

                        <h3><strong>Data Mining:</strong></h3>
                        <div>
                            <p>
                                Zhenxin Fu, Yu Wu, Hailei Zhang, Yichuan Hu, Dongyan Zhao and Rui Yan.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4963362">
                                    Be Aware of the Hot Zone: A Warning System of Hazard Area Prediction to Intervene
                                    Novel Coronavirus COVID-19 Outbreak
                                </a>

                            </p>
                            <p>
                                Yuanfei Luo, Hao Zhou, Weiwei Tu, Yuqiang Chen, Wenyuan Dai and Qiang Yang.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4958208;a=23755508">
                                    Network On Network for Tabular Data Classification in Real-world Applications</a>
                            </p>
                            <p>
                                Yuan Tian, Ke Zhou, Mounia Lalmas and Dan Pelleg.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967717;a=23755508">Identifying
                                    Tasks from Mobile App Usage Patterns</a>

                            </p>
                        </div>

                        <hr>
                        <h3><strong>Others:</strong></h3>
                        <div>
                            <p>
                                Benjamin Gutelman and Pavel Levin.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?a=23755508;submission=4965590"></a>
                                Efficient image gallery representations at scale through multi-task learning
                            </p>
                            <p>
                                Viet Ha-Thuc, Avishek Dutta, Ren Mao, Matthew Wood and Yunli Liu.
                                <a
                                    href="https://easychair.org/conferences/submission_reviews?submission=4967163;a=23755508"></a>
                                A Counterfactual Framework for Seller-Side A/B Testing on Marketplaces
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end container-->
        </div>

    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->


</body>

</html>